@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
  font-family: "Helvetica";
  src: url(/assets/HelveticaNeueCyr-Light.otf) format("truetype");
}
#main
{
	background:url('http://s23.postimg.org/u2bf225rv/back2.png') !important;
	position:absolute;
    background-size: cover;
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	z-index:1;
	margin:auto;
}

body {
	color: black;
}
header{
	width: 100%;
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	padding: 1%;

}
#men{
	display: inline-block;
	width: 100%;
	background: white; 

}

#impr{
	background:#034B6F;
	height:5%;
	padding-bottom: 3%;
	color:white;
	margin-top: 5%;
	right: 0;
	width: 100%;
}
#block{
	position: absolute;

}
#leftone{
	float: left;
	width: 50%;
	padding-left: 5%;
	font-family: Helvetica;
	font-size: 12pt;
	color:black;
	line-height: 22px;
	position: relative;
	display: block;
	
}



.back{
	font-family: Helvetica;
	font-size:18px;
    line-height: 2em ;
    border:2px solid #034B6F;
    color: #034B6F;
    background-color: transparent;
    text-decoration: none;
    padding-left: .5%;
    padding-right: .5%;
    float: right;
    margin-left: .3%;
}


.back:hover{
	font-family: Helvetica;
	font-size:18px;
    line-height: 2em ;
    border:2px solid #034B6F;
    background-color: #034B6F;	
    color: white ;
}

#dat{
	margin:auto;
	width: 95%;
	font-family: Helvetica;
	font-size: 12pt;
	color:black;
	text-align: justify;
	line-height: 22px;
}

strong{
	font-family: Montserrat;
	font-size: 15pt;
	color: #034B6F;
	font-weight: bold;
}

.links{
	font-family: Helvetica;
	font-size:18px;
	color:#034B6F;

}

#h1i
{
	font-size: 25pt;
	font-family: Montserrat;
	color: white;	
	text-align: left;
	padding: 1.5%;
	padding-bottom: 0;
	margin-top: 2%;
	position: relative;

}


h2{
	font-family: Helvetica;
	font-size: 15pt;
	color: #034B6F;
	font-weight: bold;
}





/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Karla);
	
@font-face {
   font-family: Helvetica;
   src:url(../fonts/HelveticaNeueCyr-Light.otf);
   font-weight: 400;
	}
header,footer,
article,section,
hgroup,nav,
div{
	
	display:block;
}	
	
body{
	width:100% !important;
    margin:0px;
	padding:0px;
	position:absolute;
    top:0;
    left:0; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}


#main
{
  background:url('http://s23.postimg.org/u2bf225rv/back2.png') !important;
  position:absolute;
    background-size: cover;
  -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  z-index:1;
  margin:auto;
}


#back{
	background: url('http://s23.postimg.org/u2bf225rv/back2.png')  50% 10% no-repeat; /** Background image - change it here !**/
	position:absolute;
    background-size: cover;
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	z-index:1;
	margin:auto;
	
}
#menu {
	position:fixed;
	width:100%;
	height: 10%;
	background-color: white;
	top:0;
	right:0;
	
		
}

#logo {
	float:left;
    width: 15%;

   	
}

ul li{
	display:inline;
	
}

a.main_but {
	font-family:Helvetica;
	text-align:center;
    line-height: 33px ;
    border:1px solid #034B6F;
    background-color: white;	
    color: #034B6F;
    text-decoration:none;
	margin-right:1%;
	display: inline-block;
	font-size: 14pt;
	padding-left: 1%;
	padding-right: 1%;
}

a.main_but:hover {
	font-family:Helvetica;
	text-align:center;
	display: inline-block;
    line-height: 33px ;
    border:1px solid #034B6F;
    background-color: #034B6F;	
    color: white ;
    text-decoration:none;
	margin-right:1%;
	font-size: 14pt;


}

#searchfi{
	display:inline-block; 
	width:100%; 
	background:transparent;
	margin:auto;
	margin-top:28%;
	position:inherit;	
	padding-left:2%;
	padding-right:2%;
	border:0;
	padding:0;
	text-align:center;
	vertical-align: bottom;
}
select, input {
 	border:0;
 	-moz-box-sizing: content-box;
    box-sizing: content-box;
}

select{
	background: white;
	width:auto;
    height: 33px ;
	border:1px solid #959695;  
	font-family: Helvetica;
	font-size:18px;
	color: #848789;
    background: url(/assets/arrow.png) no-repeat right ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	vertical-align:top;
	padding-right: 4%;
}


#umk{
	background: white;
	width:auto;
	padding-right: 4%;
    height: 33px ;
	border:1px solid #959695;  
	font-family: Helvetica;
	font-size:18px;
	color: #848789;
    background: url(/assets/arrow.png) no-repeat right ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;	
}
	#aktliga{
	background: white;
	width:auto;
	padding-right: 10%;
    height: 33px  ;
	border:1px solid #959695;  
	font-family: Helvetica;
	font-size:18px;
	color: #848789;
    background: url(/assets/arrow.png) no-repeat right ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;		
}

input[type="number"] {
	width:8%;
    height:31px;;
	border:1px solid #959695;  
	font-family: Helvetica;
	font-size:18px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	-moz-appearance:textfield;
	
	vertical-align:top;
	margin:0;
	padding-left:5px;
	

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.tabs { 
  clear: both;
  

}
.tab {
  float: left;
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc;  
  position: relative;
  left:0; 
  font-family:Montserrat;
  color:#034B6F;
  font-size:1.2em;
  
}

.tab label:hover {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc;  
  position: relative;
  left:0; 
  font-family:Montserrat;
  background:white;
  font-size:1.2em;
  
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  background:white;
  left: 0;
  right: 0;
  padding:.8%;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border:none;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}


#funk{
  
  font-family:Montserrat;
  color:#034B6F;
  font-size:3.2em;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid black;
  
  
}

#second {
	background:white;
	text-align: center;
	  background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    display: block;

}
.content ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
.content :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
.content ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
.content :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
#instr{
	padding: 2%;
}

#namee{
	font-family: Montserrat;
	color:black;
	font-size: 22px;
	text-align: center;


}

#descr {
	font-family: Karla;
	font-size: 18px;
	color:#034B6F;
	text-align:inherit;
	width: 20%;
	margin-top: 2%;
	padding-bottom: 1em;

}
.text{
	padding-left: 3%;
	padding-right: 3%;
	vertical-align: top;
	letter-spacing: 1px;
	text-align: justify;
	 -moz-text-align-last: center; /* Code for Firefox */
    text-align-last: center;


}

#foo{
    background: #9E9E9E;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: auto;
    width: 100%;
    position: absolute;
    top: 200%;
    left: 0px;
    display: block;
    padding-bottom: 2%;


}
#links{
	padding-top: 2%;
}

a{
	text-decoration: none;
	color: #034B6F;
	font-family: Helvetica;
	font-size: 15pt;
}

a:hover{
	text-decoration: none;
	color: white;
	font-family: Helvetica;
	font-size: 15pt;
}

th{
width: 25%;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
  font-family: "Helvetica";
  src: url(/assets/HelveticaNeueCyr-Light.otf) format("truetype");
}

#main
{
	background:url('http://s23.postimg.org/u2bf225rv/back2.png') !important;
	position:absolute;
    background-size: cover;
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	z-index:1;
	margin:auto;
}

#linki{
	position:absolute; 
	margin: 1.5%;
	bottom:0;
	right: 0;
	font-family: Helvetica;
	font-size:18px;
	color:white;
	text-decoration: none;
	display: inline-block;
}
.link:link{
	color:white;
}

.link:visited { 
  color: #FFFFFF;
}
.link:hover { 
  color: #CCCCCC;
}
.link:active { 
  color: #333333;
}


.subutton
{
	font-family: Helvetica;
	font-size:18px;
   	padding-left: 1%;
	padding-right: 1%;  	
    line-height: 2em ;
    border:2px solid #959695;
    color: white;
    background-color: transparent;
    outline:none;
    display: inline-block;
    margin: auto;
    position: absolute;
    cursor: pointer;
}



.subutton:hover
{
    font-family: Helvetica;
	font-size:18px;
    padding-left: 1%;
	padding-right: 1%;
    line-height: 2em ;
    border:2px solid #959695;
    background-color: #034B6F;	
    color: white ;
    margin: auto;
    text-align: center;
    cursor: pointer;

}

.emaiil
{ 
	width:30%;
    line-height: 2em ;
	border:2px solid #959695;  
	font-family: Helvetica;
	font-size:18px;
	vertical-align: bottom;
	border-right: none;
	padding-left: 10px;
}



#bald
{
	margin-top:13%;
	text-align: center;
	font-family:Montserrat;
	font-weight:bold;
	font-size:56px;
	color:white;
}


h3{
	font-family:Montserrat;
	font-weight:100;
	font-size:20px;
	color:white;
	text-align: center;
	letter-spacing: 2px;
}



#field{
	text-align: center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 90%;

}


.field_with_errors {
display: inline;
text-align: center;
width: 90%;
 }



#error_explanation{
color: white;
display: block;
font-family: Helvetica;
display: block;
border:1px solid red;
font-size: 15pt;
padding: 4px;
position: relative;
top: 50px;
width: 36%;
margin-left: auto;
margin-right: auto;
}

#error_explanation ul {
	text-align: center;
	list-style: none;
	padding:0;
	margin: .3%;
}


#h2suc{
	font-family: Helvetica;
	font-size: 20pt;
	color:white;
	text-align: center;
	display: block;
	width:50%;
    margin: auto;
    margin-top: 20%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


