@import url(https://fonts.googleapis.com/css?family=Montserrat);


#main
{
    background:url('http://s23.postimg.org/u2bf225rv/back2.png');
    position:absolute;
   background-size: cover;
    -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
    z-index:1;
    margin:auto;
}
body {
	background: white;
	color: black;
}
header{
	width: 100%;
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	padding: 1%;

}
#men{
	display: inline-block;
	width: 100%;
	background: white; 

}

#impr{
	background:#034B6F;
	height:5%;
	padding-bottom: 3%;
	color:white;
	margin-top: 5%;
	right: 0;
	width: 100%;
}
#block{
	position: absolute;

}
#leftone{
	float: left;
	width: 50%;
	padding-left: 5%;
	font-family: Helvetica;
	font-size: 12pt;
	color:black;
	line-height: 22px;
	position: relative;
	display: block;
	
}



.back{
	font-family: Helvetica;
	font-size:18px;
    line-height: 2em ;
    border:2px solid #034B6F;
    color: #034B6F;
    background-color: transparent;
    text-decoration: none;
    padding-left: .5%;
    padding-right: .5%;
    float: right;
    margin-left: .3%;
}


.back:hover{
	font-family: Helvetica;
	font-size:18px;
    line-height: 2em ;
    border:2px solid #034B6F;
    background-color: #034B6F;	
    color: white ;
}

#dat{
	margin:auto;
	width: 95%;
	font-family: Helvetica;
	font-size: 12pt;
	color:black;
	text-align: justify;
	line-height: 22px;
}

strong{
	font-family: Montserrat;
	font-size: 15pt;
	color: #034B6F;
	font-weight: bold;
}

.links{
	font-family: Helvetica;
	font-size:18px;
	color:#034B6F;

}

#h1i
{
	font-size: 25pt;
	font-family: Montserrat;
	color: white;	
	text-align: left;
	padding: 1.5%;
	padding-bottom: 0;
	margin-top: 2%;
	position: relative;

}


h2{
	font-family: Helvetica;
	font-size: 15pt;
	color: #034B6F;
	font-weight: bold;
}




