@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
/* line 5, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
#main {
  background: url("http://s23.postimg.org/u2bf225rv/back2.png");
  position: absolute;
  background-size: cover;
  background-size: cover;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
}

/* line 21, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
body {
  background: white;
  color: black;
}

/* line 26, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
header {
  width: 100%;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  padding: 1%;
  margin-bottom: 1%;
}

/* line 36, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
#men {
  display: inline-block;
  width: 98%;
  background: white;
  position: absolute;
  margin-bottom: 1%;
  float: right;
}

/* line 45, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
#impr {
  position: relative;
}

/* line 49, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
.back {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 2em;
  border: 1px solid #034B6F;
  color: #034B6F;
  background-color: transparent;
  text-decoration: none;
  padding-left: .5%;
  padding-right: .5%;
  float: right;
  margin-left: .3%;
}
/* line 61, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
.back:hover {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 2em;
  border: 1px solid #034B6F;
  background-color: #034B6F;
  color: white;
}

/* line 71, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
#block {
  position: absolute;
}

/* line 75, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
#leftone {
  float: left;
  width: 50%;
  padding-left: 5%;
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  color: black;
  line-height: 22px;
  position: relative;
  display: block;
}

/* line 87, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
.links {
  color: black;
  font-size: 12pt;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
/* line 92, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
.links:visited {
  color: #66b3ff;
  font-size: 12pt;
}
/* line 96, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
.links:hover {
  color: #004080;
  text-decoration: underline;
  font-size: 12pt;
}
/* line 101, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
.links:active {
  color: black;
  font-size: 12pt;
}
/* line 105, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
.links:visited {
  color: #66b3ff;
  font-size: 12pt;
}

/* line 111, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
.back {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 2em;
  border: 1px solid #034B6F;
  color: #034B6F;
  background-color: transparent;
  text-decoration: none;
  padding-left: .5%;
  padding-right: .5%;
  float: right;
  margin-left: .3%;
}

/* line 126, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
.links:hover {
  color: #004080;
  text-decoration: underline;
  font-size: 12pt;
}
/* line 131, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
.links:active {
  color: black;
  font-size: 12pt;
}

/* line 137, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
.back:hover {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 2em;
  border: 1px solid #034B6F;
  background-color: #034B6F;
  color: white;
}

/* line 146, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
#dat {
  margin: auto;
  width: 95%;
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  color: black;
  text-align: justify;
  line-height: 22px;
}

/* line 156, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
#h1i {
  font-size: 25pt;
  font-family: Montserrat;
  color: white;
  text-align: left;
  padding: 1.5%;
  padding-bottom: 0;
  margin-top: 2%;
  position: relative;
  background: #034B6F;
  height: 5%;
  padding-bottom: 3%;
  color: white;
  margin-top: 5%;
  right: 0;
  width: 100%;
}

/* line 174, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/impressum.scss */
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  color: #034B6F;
  font-weight: bold;
}
