/* line 1, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
#wrapper {
  display: none;
}

/* line 4, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
#wrapper2 {
  display: none;
  margin-top: 2%;
}

/* line 8, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
#wrapper3 {
  display: none;
}

/* line 11, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
#wrapper4 {
  display: none;
}

/* line 14, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
#passw {
  text-align: center;
  border: 1px solid #034B6F;
  height: auto;
  width: 25%;
  margin: auto;
  margin-top: 2%;
  padding: 5px;
  display: none;
  box-sizing: border-box;
  vertical-align: middle;
  z-index: 2;
  position: relative;
}

/* line 30, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
#passw2 {
  text-align: center;
  border: 1px solid #034B6F;
  height: auto;
  width: 25%;
  margin: auto;
  margin-top: 2%;
  padding: 5px;
  display: block;
  box-sizing: border-box;
  vertical-align: middle;
}

/* line 44, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
.text_input {
  width: 80%;
  height: 33px;
  border: 1px solid #959695;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  vertical-align: middle;
  margin: 0 auto;
  padding-left: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
}

/* line 60, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
.main_but2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  line-height: 33px;
  border: 1px solid #034B6F;
  background-color: white;
  color: #034B6F;
  margin: 0 auto;
  font-size: 14pt;
  width: 80%;
  text-decoration: none;
  font-size: 14pt;
  margin-top: 2px;
  text-decoration: none;
  padding-left: 2.5px;
  padding-right: 2.5px;
}
/* line 76, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
.main_but2:hover {
  font-family: 'Lato', sans-serif;
  text-align: center;
  display: inline-block;
  line-height: 33px;
  border: 1px solid #034B6F;
  background-color: #034B6F;
  color: white;
  text-decoration: none;
  font-size: 14pt;
  margin-top: 2px;
  text-decoration: none;
  cursor: pointer;
}

/* line 91, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
strong {
  font-family: Montserrat;
  font-size: 15pt;
  color: #034B6F;
  font-weight: normal;
}

/* line 97, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
#prob_form {
  text-align: center;
  border: 1px solid #034B6F;
  height: auto;
  width: 25%;
  margin: auto;
  margin-top: 2%;
  padding: 5px;
  background: white;
  margin: auto;
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  color: black;
  z-index: 2;
  position: relative;
}

/* line 115, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
#login_form {
  text-align: center;
  border: 1px solid #034B6F;
  height: auto;
  width: 25%;
  margin: auto;
  margin-top: 2%;
  padding: 5px;
  background: white;
  margin: auto;
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 13pt;
  color: black;
  margin-top: 13%;
  z-index: 2;
  position: relative;
}

/* line 134, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
#checki {
  text-align: justify;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* line 139, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
#log_ver_form {
  text-align: center;
  border: 1px solid #034B6F;
  height: auto;
  width: 25%;
  margin: auto;
  margin-top: 2%;
  padding: 5px;
  background: white;
  padding: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: auto;
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 13pt;
  color: black;
  margin-top: 13%;
  position: relative;
}

/* line 160, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
.anme {
  background: white;
  height: 33px;
  border: 1px solid #959695;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #848789;
  background: url("http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/arrow_rhn3ww.png") no-repeat right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: top;
  padding-right: 4%;
  padding-left: 2px;
  width: 77%;
  margin-bottom: 2px;
  margin-top: 2px;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 182, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/pass.scss */
#verein_div {
  color: black;
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  display: none;
}
