
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Karla);
<<<<<<< HEAD:app/assets/stylesheets/soc.css
@import url(https://fonts.googleapis.com/css?family=Lato:300);
  


  

html. #bod{
  width:100% !important;
  margin:0px;
  padding:0px;
  position:absolute;
  top:0;
  left:0;
  background: url('http://res.cloudinary.com/dr68ladtn/image/upload/q_100/v1461068656/back1_bm1ixc.png') no-repeat 50% 10% fixed; 
=======
	

header,footer,
article,section,
hgroup,nav,
div{
	
	display:block;
}	
	
#main
{
    background:url('http://s23.postimg.org/u2bf225rv/back2.png');
    position:absolute;
   background-size: cover;
    -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
    z-index:1;
    margin:auto;
}
html. body{
	width:100% !important;
    margin:0px;
	padding:0px;
	position:absolute;
    top:0;
    left:0;
     background: url('http://s23.postimg.org/u2bf225rv/back2.png ') no-repeat 50% 10% fixed; 
<<<<<<< HEAD
>>>>>>> 29315b408ba98d96fa53aabc19bc601039efc270:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
=======
>>>>>>> inga:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
>>>>>>> ce0da214495fd8a2852efb4944b64d31a8d32819
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

<<<<<<< HEAD:app/assets/stylesheets/soc.css


#back{
  background: url('http://res.cloudinary.com/dr68ladtn/image/upload/q_100/v1461068656/back1_bm1ixc.png')  50% 10% no-repeat; /** Background image - change it here !**/
  position:absolute;
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
   -o-background-size:cover;
  background-size:cover;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index:1;
  margin:auto;

  
=======



#back{
	background: url(/assets/back1.png)  50% 10% no-repeat; /** Background image - change it here !**/
	position:absolute;
    background-size: cover;
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	z-index:1;
	margin:auto;
	
<<<<<<< HEAD
>>>>>>> 29315b408ba98d96fa53aabc19bc601039efc270:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
=======
>>>>>>> inga:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
>>>>>>> ce0da214495fd8a2852efb4944b64d31a8d32819
}
#menu {
  position:fixed;
  width:100%;
  height: 10%;
  background-color: white;
  top:0;
  right:0;
  
  padding-bottom: 0;
  
    
}

#logo {
  float:left;
  width: 15%;   
}


#me, {
  display:inline;
  margin-top: 1%;
  
}

<<<<<<< HEAD:app/assets/stylesheets/soc.css
.main_but {
  font-family: 'Lato', sans-serif;
  text-align:center;
  line-height: 33px ;
  border:1px solid #034B6F;
  background-color: white;  
  color: #034B6F;
  text-decoration:none;
  margin-right:1%;
  display: inline-block;
  font-size: 14pt;
  padding-left: 1%;
  padding-right: 1%;
}

.main_but:hover {
  font-family: 'Lato', sans-serif;
  text-align:center;
  display: inline-block;
=======
a.main_but {
	font-family:Helvetica;
	text-align:center;
    line-height: 33px ;
    border:1px solid #034B6F;
    background-color: white;	
    color: #034B6F;
    text-decoration:none;
	margin-right:1%;
	display: inline-block;
	font-size: 14pt;
	padding-left: 1%;
	padding-right: 1%;
}

a.main_but:hover {
	font-family:Helvetica;
	text-align:center;
	display: inline-block;
<<<<<<< HEAD
>>>>>>> 29315b408ba98d96fa53aabc19bc601039efc270:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
=======
>>>>>>> inga:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
>>>>>>> ce0da214495fd8a2852efb4944b64d31a8d32819
    line-height: 33px ;
    border:1px solid #034B6F;
    background-color: #034B6F;  
    color: white ;
    text-decoration:none;
  margin-right:1%;
  font-size: 14pt;


}

#searchfi{
  display:inline-block; 
  width:100%; 
  background:transparent;
  margin:auto;
  margin-top:28%;
  position:inherit; 
  padding-left:2%;
  padding-right:2%;
  border:0;
  padding:0;
  text-align:center;
  vertical-align: bottom;
}
select, input {
  border:0;
  -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 0;
}

select{
  background: white;
  width:auto;
    height: 33px ;
<<<<<<< HEAD:app/assets/stylesheets/soc.css
  border:1px solid #959695;  
  font-family: 'Lato', sans-serif;
  font-size:18px;
  color: #848789;
    background: url('http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/arrow_rhn3ww.png') no-repeat right ;
=======
	border:1px solid #959695;  
	font-family: Helvetica;
	font-size:18px;
	color: #848789;
    background: url(/assets/arrow.png) no-repeat right ;
<<<<<<< HEAD
>>>>>>> 29315b408ba98d96fa53aabc19bc601039efc270:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
=======
>>>>>>> inga:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
>>>>>>> ce0da214495fd8a2852efb4944b64d31a8d32819
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  vertical-align:top;
  padding-right: 4%;
  padding-left: 2px;
}


#umk{
  background: white;
  width:auto;
  padding-right: 4%;
    height: 33px ;
<<<<<<< HEAD:app/assets/stylesheets/soc.css
  border:1px solid #959695;  
  font-family: 'Lato', sans-serif;
  font-size:18px;
  color: #848789;
    background: url('http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/arrow_rhn3ww.png') no-repeat right ;
=======
	border:1px solid #959695;  
	font-family: Helvetica;
	font-size:18px;
	color: #848789;
    background: url(/assets/arrow.png) no-repeat right ;
<<<<<<< HEAD
>>>>>>> 29315b408ba98d96fa53aabc19bc601039efc270:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
=======
>>>>>>> inga:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
>>>>>>> ce0da214495fd8a2852efb4944b64d31a8d32819
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
  #aktliga{
  background: white;
  width:auto;
  padding-right: 10%;
    height: 33px  ;
<<<<<<< HEAD:app/assets/stylesheets/soc.css
  border:1px solid #959695;  
  font-family: 'Lato', sans-serif;
  font-size:18px;
  color: #848789;
    background: url('http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/arrow_rhn3ww.png') no-repeat right ;
=======
	border:1px solid #959695;  
	font-family: Helvetica;
	font-size:18px;
	color: #848789;
    background: url(/assets/arrow.png) no-repeat right ;
<<<<<<< HEAD
>>>>>>> 29315b408ba98d96fa53aabc19bc601039efc270:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
=======
>>>>>>> inga:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
>>>>>>> ce0da214495fd8a2852efb4944b64d31a8d32819
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
}

input[type="number"] {
<<<<<<< HEAD:app/assets/stylesheets/soc.css
  width:8%;
    height:33px;;
  border:1px solid #959695;  
  font-family: 'Lato', sans-serif;
  font-size:18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-appearance:textfield;  
  vertical-align:top;
  margin:0;
  padding-left:5px; 
=======
	width:8%;
    height:31px;;
	border:1px solid #959695;  
	font-family: Helvetica;
	font-size:18px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	-moz-appearance:textfield;
	
	vertical-align:top;
	margin:0;
	padding-left:5px;
	

<<<<<<< HEAD
>>>>>>> 29315b408ba98d96fa53aabc19bc601039efc270:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
=======
>>>>>>> inga:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
>>>>>>> ce0da214495fd8a2852efb4944b64d31a8d32819
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.tabs { 
  clear: both;
  

}
.tab {
  float: left;
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc;  
  position: relative;
  left:0; 
  font-family:Montserrat;
  color:#034B6F;
  font-size:1.2em;
  
}

.tab label:hover {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc;  
  position: relative;
  left:0; 
  font-family:Montserrat;
  background:white;
  font-size:1.2em;
  
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  background:white;
  left: 0;
  right: 0;
  padding:.8%;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border:none;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}


#funk{
  
  font-family:Montserrat;
  color:#034B6F;
  font-size:3.2em;
  display: inline-block;
  text-decoration: none;
  
  
}

#second {
  background:white;
  text-align: center;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    display: block;
    border-bottom: 2px solid black;
     padding-top: 2%;

}

#instr{
  padding: 2%;
}

#namee{
  font-family: Montserrat;
  color:black;
  font-size: 22px;
  text-align: center;


}

#descr {
  font-family: Karla;
  font-size: 18px;
  color:#034B6F;
  text-align:inherit;
  width: 20%;
  margin-top: 2%;
  padding-bottom: 1em;

}
.text{
  padding-left: 3%;
  padding-right: 3%;
  vertical-align: top;
  letter-spacing: 1px;
  text-align: center;
  -moz-text-align-last: center; /* Code for Firefox */
  text-align-last: center;
}

.text2{
  width: 20%;
  padding-left: 3%;
  padding-right: 3%;
  vertical-align: top;
  letter-spacing: 1px;
  text-align: center;
  -moz-text-align-last: center; /* Code for Firefox */
  text-align-last: center;
}

#foo{
    background: #9E9E9E;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: auto;%;
    width: 100%;
    position: absolute;
    top: 400%;
    left: 0px;
    display: block;
    padding-bottom: 4%;


}
#links{
  padding-top: 2%;
}

<<<<<<< HEAD:app/assets/stylesheets/soc.css
.main_link{
  text-decoration: none;
  color: #034B6F;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
}

.main_link:hover{
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
}

.fun{
width: 25%;
text-align: center;
}

.tes{
  width:29%;
  text-align: center;
}

.ma{
  width: 40%;
  text-align: right;
  margin: 2%;
}

.ma2{
  width: 40%;
  text-align: left;
}


#testi{
  background:#E4E5E5;
  text-align: center;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 200%;
    left: 0px;
    display: block;
    padding-top: 2%;

}

#match_monat{
  background:white;
  text-align: center;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 300%;
    left: 0px;
    display: block;
    border-bottom: 2px solid black;
    padding-top: 2%;

}
#test_h1{
    font-family:Montserrat;
  color:#B01F23;
  font-size:3.2em;
  display: inline-block;
  text-decoration: none;

}
=======
a{
	text-decoration: none;
	color: #034B6F;
	font-family: Helvetica;
	font-size: 15pt;
}

a:hover{
	text-decoration: none;
	color: white;
	font-family: Helvetica;
	font-size: 15pt;
}

th{
	width: 25%;
<<<<<<< HEAD
>>>>>>> 29315b408ba98d96fa53aabc19bc601039efc270:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
=======
>>>>>>> inga:public/assets/soc-98e4aa79670319ac8503ac6455e99e518292570a018f053887fa6f33e5f3cc06.css
>>>>>>> ce0da214495fd8a2852efb4944b64d31a8d32819
