@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
/* line 7, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
html, #bod {
  width: 100% !important;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("http://res.cloudinary.com/dr68ladtn/image/upload/q_100/v1461068656/back1_bm1ixc.png") no-repeat 50% 10% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

/* line 21, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#back {
  background: url("http://res.cloudinary.com/dr68ladtn/image/upload/q_100/v1461068656/back1_bm1ixc.png") 50% 10% no-repeat;
  /** Background image - change it here !**/
  position: absolute;
  background-size: cover;
  background-size: cover;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
}

/* line 38, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#menu {
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: white;
  top: 0;
  right: 0;
  padding-bottom: 0;
}

/* line 48, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#logo {
  float: left;
  width: 15%;
}

/* line 53, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#me {
  display: inline;
  margin-top: 1%;
}

/* line 58, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.main_but {
  font-family: 'Lato', sans-serif;
  text-align: center;
  line-height: 33px;
  border: 1px solid #034B6F;
  background-color: white;
  color: #034B6F;
  text-decoration: none;
  margin-right: 1%;
  display: inline-block;
  font-size: 14pt;
  padding-left: 1%;
  padding-right: 1%;
}
/* line 71, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.main_but:hover {
  font-family: 'Lato', sans-serif;
  text-align: center;
  display: inline-block;
  line-height: 33px;
  border: 1px solid #034B6F;
  background-color: #034B6F;
  color: white;
  text-decoration: none;
  margin-right: 1%;
  font-size: 14pt;
}

/* line 85, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#searchfi {
  display: inline-block;
  width: 100%;
  background: transparent;
  margin: auto;
  margin-top: 28%;
  position: inherit;
  padding-left: 2%;
  padding-right: 2%;
  border: 0;
  padding: 0;
  text-align: center;
  vertical-align: bottom;
}

/* line 100, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
select, input {
  border: 0;
  box-sizing: content-box;
  border-radius: 0;
}

/* line 107, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
select {
  background: white;
  width: auto;
  height: 33px;
  border: 1px solid #959695;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #848789;
  background: url("http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/arrow_rhn3ww.png") no-repeat right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: top;
  padding-right: 4%;
  padding-left: 2px;
}

/* line 126, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#umk {
  background: white;
  width: auto;
  padding-right: 4%;
  height: 33px;
  border: 1px solid #959695;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #848789;
  background: url("http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/arrow_rhn3ww.png") no-repeat right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 141, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#aktliga {
  background: white;
  width: auto;
  padding-right: 10%;
  height: 33px;
  border: 1px solid #959695;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #848789;
  background: url("http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/arrow_rhn3ww.png") no-repeat right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 157, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
input[type="number"] {
  width: 8%;
  height: 33px;
  border: 1px solid #959695;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  vertical-align: top;
  margin: 0;
  padding-left: 5px;
}
/* line 172, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* line 181, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.tabs {
  clear: both;
}

/* line 185, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.tab {
  float: left;
}
/* line 187, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  position: relative;
  left: 0;
  font-family: Montserrat;
  color: #034B6F;
  font-size: 1.2em;
}
/* line 196, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.tab label:hover {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  position: relative;
  left: 0;
  font-family: Montserrat;
  background: white;
  font-size: 1.2em;
}
/* line 207, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.tab [type=radio] {
  display: none;
}

/* line 212, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.content {
  position: absolute;
  background: white;
  left: 0;
  right: 0;
  padding: .8%;
  border: 1px solid #ccc;
}

/* line 221, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
[type=radio]:checked ~ label {
  background: white;
  border: none;
  z-index: 2;
}
/* line 225, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

/* line 230, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#funk {
  font-family: Montserrat;
  color: #034B6F;
  font-size: 3.2em;
  display: inline-block;
  text-decoration: none;
}

/* line 238, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#second {
  background: white;
  text-align: center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0px;
  display: block;
  border-bottom: 2px solid black;
  padding-top: 2%;
}

/* line 255, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#instr {
  padding: 2%;
}

/* line 259, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#namee {
  font-family: Montserrat;
  color: black;
  font-size: 22px;
  text-align: center;
}

/* line 266, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#descr {
  font-family: Karla;
  font-size: 18px;
  color: #034B6F;
  text-align: inherit;
  width: 20%;
  margin-top: 2%;
  padding-bottom: 1em;
}

/* line 276, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.text {
  padding-left: 3%;
  padding-right: 3%;
  vertical-align: top;
  letter-spacing: 1px;
  text-align: center;
  -moz-text-align-last: center;
  /* Code for Firefox */
  text-align-last: center;
}

/* line 287, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.text2 {
  width: 20%;
  padding-left: 3%;
  padding-right: 3%;
  vertical-align: top;
  letter-spacing: 1px;
  text-align: center;
  -moz-text-align-last: center;
  /* Code for Firefox */
  text-align-last: center;
}

/* line 299, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#foo {
  background: #9E9E9E;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: auto;
  width: 100%;
  position: absolute;
  top: 400%;
  left: 0px;
  display: block;
  padding-bottom: 4%;
}

/* line 314, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#links {
  padding-top: 2%;
}

/* line 318, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.main_link {
  text-decoration: none;
  color: #034B6F;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
}
/* line 323, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.main_link:hover {
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
}

/* line 331, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.fun {
  width: 25%;
  text-align: center;
}

/* line 336, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.tes {
  width: 29%;
  text-align: center;
}

/* line 341, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.ma {
  width: 40%;
  text-align: right;
  margin: 2%;
}

/* line 347, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
.ma2 {
  width: 40%;
  text-align: left;
}

/* line 352, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#testi {
  background: #E4E5E5;
  text-align: center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 200%;
  left: 0px;
  display: block;
  padding-top: 2%;
}

/* line 368, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#match_monat {
  background: white;
  text-align: center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 300%;
  left: 0px;
  display: block;
  border-bottom: 2px solid black;
  padding-top: 2%;
}

/* line 385, /Users/shopboostr/Desktop/landing_page/app/assets/stylesheets/soc.scss */
#test_h1 {
  font-family: Montserrat;
  color: #B01F23;
  font-size: 3.2em;
  display: inline-block;
  text-decoration: none;
}
