
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
  


header,footer,


article,section,
hgroup,nav,
div{
  
  display:block;
} 
  

html. #bod{
  width:100% !important;
    margin:0px;
  padding:0px;
  position:absolute;
    top:0;
    left:0;
     background: url('http://res.cloudinary.com/dr68ladtn/image/upload/q_100/v1461068656/back1_bm1ixc.png') no-repeat 50% 10% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}



#back{
  background: url('http://res.cloudinary.com/dr68ladtn/image/upload/q_100/v1461068656/back1_bm1ixc.png')  50% 10% no-repeat; /** Background image - change it here !**/
  position:absolute;
    background-size: cover;
  -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  z-index:1;
  margin:auto;
  
}
#menu {
  position:fixed;
  width:100%;
  height: 10%;
  background-color: white;
  top:0;
  right:0;
  
    
}

#logo {
  float:left;
    width: 15%;

    
}

ul li{
  display:inline;
  
}

a.main_but {
  font-family: 'Lato', sans-serif;
  text-align:center;
    line-height: 33px ;
    border:1px solid #034B6F;
    background-color: white;  
    color: #034B6F;
    text-decoration:none;
  margin-right:1%;
  display: inline-block;
  font-size: 14pt;
  padding-left: 1%;
  padding-right: 1%;
}

a.main_but:hover {
  font-family: 'Lato', sans-serif;
  text-align:center;
  display: inline-block;
    line-height: 33px ;
    border:1px solid #034B6F;
    background-color: #034B6F;  
    color: white ;
    text-decoration:none;
  margin-right:1%;
  font-size: 14pt;


}

#searchfi{
  display:inline-block; 
  width:100%; 
  background:transparent;
  margin:auto;
  margin-top:28%;
  position:inherit; 
  padding-left:2%;
  padding-right:2%;
  border:0;
  padding:0;
  text-align:center;
  vertical-align: bottom;
}
select, input {
  border:0;
  -moz-box-sizing: content-box;
    box-sizing: content-box;
}

select{
  background: white;
  width:auto;
    height: 33px ;
  border:1px solid #959695;  
  font-family: 'Lato', sans-serif;
  font-size:18px;
  color: #848789;
    background: url('http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/arrow_rhn3ww.png') no-repeat right ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  vertical-align:top;
  padding-right: 4%;
}


#umk{
  background: white;
  width:auto;
  padding-right: 4%;
    height: 33px ;
  border:1px solid #959695;  
  font-family: 'Lato', sans-serif;
  font-size:18px;
  color: #848789;
    background: url('http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/arrow_rhn3ww.png') no-repeat right ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
  #aktliga{
  background: white;
  width:auto;
  padding-right: 10%;
    height: 33px  ;
  border:1px solid #959695;  
  font-family: 'Lato', sans-serif;
  font-size:18px;
  color: #848789;
    background: url('http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/arrow_rhn3ww.png') no-repeat right ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
}

input[type="number"] {
  width:8%;
    height:31px;;
  border:1px solid #959695;  
  font-family: 'Lato', sans-serif;
  font-size:18px;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  -moz-appearance:textfield;
  
  vertical-align:top;
  margin:0;
  padding-left:5px;
  

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.tabs { 
  clear: both;
  

}
.tab {
  float: left;
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc;  
  position: relative;
  left:0; 
  font-family:Montserrat;
  color:#034B6F;
  font-size:1.2em;
  
}

.tab label:hover {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc;  
  position: relative;
  left:0; 
  font-family:Montserrat;
  background:white;
  font-size:1.2em;
  
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  background:white;
  left: 0;
  right: 0;
  padding:.8%;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border:none;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}


#funk{
  
  font-family:Montserrat;
  color:#034B6F;
  font-size:3.2em;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid black;
  
  
}

#second {
  background:white;
  text-align: center;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    display: block;

}
.content ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
.content :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
.content ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
.content :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
#instr{
  padding: 2%;
}

#namee{
  font-family: Montserrat;
  color:black;
  font-size: 22px;
  text-align: center;


}

#descr {
  font-family: Karla;
  font-size: 18px;
  color:#034B6F;
  text-align:inherit;
  width: 20%;
  margin-top: 2%;
  padding-bottom: 1em;

}
.text{
  padding-left: 3%;
  padding-right: 3%;
  vertical-align: top;
  letter-spacing: 1px;
  text-align: justify;
   -moz-text-align-last: center; /* Code for Firefox */
    text-align-last: center;


}

#foo{
    background: #9E9E9E;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: auto;
    width: 100%;
    position: absolute;
    top: 200%;
    left: 0px;
    display: block;
    padding-bottom: 2%;


}
#links{
  padding-top: 2%;
}

a{
  text-decoration: none;
  color: #034B6F;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
}

a:hover{
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
}

th{
width: 25%;
}
