
#main
  %a.navbar-brand{:href => "#", :rel => "home", :title => "Soccertransfair"}
    %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top:5px; margin-left:5px;"}
  %p
    %h1#bald
      Wir sind bald online!
    #trag
      Tragen Sie Ihre E-Mail Adresse ein und wir 
      %br benachrichtigen Sie sobald es Neuigkeiten gibt



  = form_for :user, url: users_path do |f|
    #field
      = f.text_field :email , class: 'emaiil', :placeholder => "E-Mail Adresse"
      = f.submit "Absenden", class: "subutton"
    - if @user.errors.any?
      #error_explanation
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
 
    #linki 
      = link_to 'Impressum', impressum_url , class: "link"
      |
      = link_to 'Datenschutzerklärung', daten_url, class: "link"





