#wrapp  
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/pages/soc", :rel => "home", :title => "Soccertransfair"}
          %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;"}
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "#"} Home
          %li
            = link_to 'Suche  Spieler', sp_res_url 
          %li
            = link_to 'Suche Verein', ver_res_url 
          %li#log
            %a{:href => "/pages/inbox"} Nachrichten
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Profil
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "/pages/ver_pr"} Profil bearbeiten
              %li
                %a{:href => "/pages/passwort"} Kontoeinstellungen
              %li
                %a{:href => "/pages/match"} Matchings
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Logout
  .container-fluid
    .row#main_row
      .col-md-12
        %h1.name_page Anfragen
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        %form#anfragen
          .form-group.col-lg-1.col-md-3.col-sm-2.col-xs-9.col-xs-offset-3
            %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:120px"}
          .form-group.col-md-7.col-lg-4.col-sm-4.col-xs-9.col-xs-offset-2{:style=> "font-size:14pt"}
            %b Name
            %br
            %b Position: 
            Torh&uuml;ter 
            %br 
            %b Alter: 
            28
            %br 
            %b Aktuelle Liga: 
            Regional
            %br 
            %b Ort: 
            Berlin
            %br
            %b Starker Fuß: 
            Rechts
          .form-group.row
            .col-md-6.col-md-offset-3.col-lg-5.col-lg-offset-6.col-sm-4.col-sm-offset-7.col-xs-9.col-xs-offset-2
              Hiermit akzeptiere ich die
              .checkbox
                %label{:for=>"check_ver"}
                  %input#check_ver{:type => "checkbox",:style=>"position:relative"}
                %a{:href => "/pages/vertrag"}Vertragsbedingungen
              .checkbox
                %label
                  %input{:type => "checkbox",:style=>"position:relative"}
                %a{:href => "/pages/kond"} Konditionen
              von soccertransfair.com
            .col-md-2.col-md-offset-6.col-xs-5.col-xs-offset-1
              %a.btn.btn-default{"data-target" => "#anfrag", "data-toggle" => "modal"} Anfragen
            .col-md-2.col-sm-2
              %a.btn.btn-default.abbre{:href=>"/pages/sp_res"} Abbrechen
#anfrag.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Vielen Dank!
      .modal-body
        %p{:style=>"font-size:14pt; text-align:justify"}Ihre Anfrage wurde erfolgreich &uuml;bermittelt. Sie werden informiert sobald der Spieler Ihre Anfrage best&auml;tigt hat.
        %a.btn.btn-default#zuruck{:href=>"/pages/sp_res"} Zur&uuml;ck zur Suche

