.nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/", :rel => "home", :title => "Soccertransfair"}
        %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;", }
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Startseite', root_path
        %li
          = link_to 'Datenschutzerklärung', daten_url
.container-fluid
  .row#main_row
    .col-md-12
      %h1.name_page Impressum
  .row#leftone
    .col-md-12
      %h2
        Angaben gem&auml;&szlig; &sect; 5 TMG:
      UG (haftungsbeschränkt)
      %br
      Hardenbergstr 38
      %br
      10713 Berlin
      %h2
        Vertreten durch:
      [Vertreten durch: Name, Anschrift]
      %br
      %h2
        Kontakt:
      Telefon: +49 (0) 30 36623723674
      %br
      Telefax: +49 (0) 30 36623723675
      %br
      E-Mail: tom@soccertransfair.de
      %br
      %h2
        Registereintrag:
      Eintragung im Handelsregister.
      %br
      Registergericht:Amtsgericht Berlin
      %br
      Registernummer: 2423423423
      %br
      %h2
        Umsatzsteuer-ID:
      Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz: 35345345345523
      %br
      %h2
        Aufsichtsbehörde:
      Berlin
      %br
      %br
  


