%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/pages/soc", :rel => "home", :title => "Soccertransfair"}
        %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;", }
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "/pages/soc"} Home
        %li
          %a{:href => "/pages/sp_res"} Suche  Spieler
        %li
          %a{:href => "/pages/ver_res"} Suche Verein
        %li.active
          %a{:href => "/pages/inbox"} Nachrichten
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Profil
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "/pages/ver_pr"} Profil bearbeiten
            %li
              %a{:href => "/pages/passwort"} Kontoeinstellungen
            %li
              %a{:href => "/pages/match"} Matchings
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Logout
#wrapp  
  .container-fluid
    .row#main_row
      .col-md-12
        %h1.name_page Nachrichten
  .container#messa
    %ul.nav.nav-tabs
      %li.active.col-xs-6.col-md-2#inb
        %a#tabi{"data-toggle" => "tab", :href => "#inb", :style=>"border: 1px solid;"}  Posteingang
      %li.col-xs-6.col-md-2#inb
        %a#tabi{"data-toggle" => "tab", :href => "#sent", :style=>"border: 1px solid;"} Postausgang
    .tab-content#inb
      #inb.tab-pane.fade.in.active
        #no-more-tables
          %table.table.table-striped.table-bordered{:style => "font-size: 14pt;"}
            %thead#tabl_head
              %tr
                %td.col-md-3
                  Von
                %td.col-md-5 
                  Betreff
                %td.col-md-4#anf 
                  Datum
            %tr{:onclick => "document.location='/pages/mes'", :style => "cursor:pointer"}
              %td
                Name
              %td 
                Hat Ihre Anfrage best&auml;tigt
              %td#anf
                28.04.2016
            %tr{:onclick => "document.location='/pages/mes2'", :style => "cursor:pointer"}
              %td
                Name
              %td 
                Hat Ihre Anfrage abgelehnt
              %td#anf
                13.05.2016
            %tr
              %td
                Name
              %td 
                Hat Ihre Anfrage best&auml;tigt
              %td#anf
                28.04.2016
            %tr
              %td
                Name
              %td 
                Hat Ihre Anfrage abgelehnt
              %td#anf
                13.05.2016
              %tr
              %td
                Name
              %td 
                Hat Ihre Anfrage best&auml;tigt
              %td#anf
                28.04.2016
            %tr
              %td
                Name
              %td 
                Hat Ihre Anfrage abgelehnt
              %td#anf
                13.05.2016
      #sent.tab-pane.fade
        #no-more-tables
          %table.table.table-striped.table-bordered{:style => "font-size: 14pt;"}
            %thead#tabl_head
              %tr
                %td.col-md-3
                  Von
                %td.col-md-5 
                  Betreff
                %td.col-md-4#anf 
                  Datum
            %tr{:onclick => "document.location='/pages/mes'", :style => "cursor:pointer"}
              %td
                Name
              %td 
                Hat Ihre Anfrage best&auml;tigt
              %td#anf
                28.04.2016
            %tr{:onclick => "document.location='/pages/mes2'", :style => "cursor:pointer"}
              %td
                Name
              %td 
                Hat Ihre Anfrage abgelehnt
              %td#anf
                13.05.2016
            %tr
              %td
                Name
              %td 
                Hat Ihre Anfrage best&auml;tigt
              %td#anf
                28.04.2016
            %tr
              %td
                Name
              %td 
                Hat Ihre Anfrage abgelehnt
              %td#anf
                13.05.2016
              %tr
              %td
                Name
              %td 
                Hat Ihre Anfrage best&auml;tigt
              %td#anf
                28.04.2016
            %tr
              %td
                Name
              %td 
                Hat Ihre Anfrage abgelehnt
              %td#anf
                13.05.2016