%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/pages/soc", :rel => "home", :title => "Soccertransfair"}
        %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;", }
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "/pages/soc"} Home
        %li
          %a{:href => "/pages/sp_res"} Suche  Spieler
        %li
          %a{:href => "/pages/ver_res"} Suche Verein
        %li.active
          %a{:href => "/pages/inbox"} Nachrichten
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Profil
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "/pages/ver_pr"} Profil bearbeiten
            %li
              %a{:href => "/pages/passwort"} Kontoeinstellungen
            %li
              %a{:href => "/pages/match"} Matchings
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Logout
#wrapp  
  .container-fluid
    .row#main_row
      .col-md-12
        %h1.name_page Nachrichten
  .container#messa
    %ul.nav.nav-tabs
      %li.active.col-xs-6.col-md-2#inb
        %a#tabi{"data-toggle" => "tab", :href => "#inb", :style=>"border: 1px solid;"}  Posteingang
      %li.col-xs-6.col-md-2#inb
        %a#tabi{"data-toggle" => "tab", :href => "#sent", :style=>"border: 1px solid;"} Postausgang
    .tab-content
      #inb.tab-pane.fade.in.active
        %form#anfragen
          .row
            .form-group.col-md-2.col-sm-4
              %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_656,w_656/v1461938870/ver_image_nemmey.png", :style => "max-width:150px"}
            .form-group.col-md-4{:style=> "font-size:14pt"}
              %b Vereinsname
              %br
              %b Aktuelle Liga: 
              Regional
              %br 
              %b Ort: 
              Berlin
              %br
              %br
              #hermit{:style=>"font-size:11pt"} 
                Hiermit akzeptiere ich die
                .checkbox
                  %label{:for=>"check_ver"}
                    %input#check_ver{:type => "checkbox",:style=>"position:relative"}
                  %a{:href => "/pages/vertrag"}Vertragsbedingungen
                .checkbox
                  %label
                    %input{:type => "checkbox",:style=>"position:relative"}
                  %a{:href => "/pages/kond"} Konditionen
                von soccertransfair.com
            .form-group.col-md-4#forma_des
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            .col-md-4.col-md-offset-7
              %a.btn.btn-default{"data-target" => "#akz", "data-toggle" => "modal"} Akzeptieren
              %a.btn.btn-default.abbre{:href=>"/pages/inbox"} Abbrechen
      #sent.tab-pane.fade
        %table.table.table-bordered.table-striped{:style => "font-size: 15pt;"}
          %thead#tabl_head
#akz.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Vielen Dank!
      .modal-body
        %p{:style=>"font-size:14pt; text-align:justify"}Ihre Anfrage wurde erfolgreich &uuml;bermittelt. Sie werden informiert sobald der Verein Ihre Anfrage best&auml;tigt hat.
        %a.btn.btn-default#zuruck{:href=>"/pages/inbox"} Zur&uuml;ck zu den Nachrichten