#wrapp  
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/pages/soc", :rel => "home", :title => "Soccertransfair"}
          %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;", }
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/pages/soc"} Home
          %li
            %a{:href => "/pages/sp_res"} Suche  Spieler
          %li
            %a{:href => "/pages/ver_res"} Suche Verein
          %li#log
            %a{:href => "/pages/inbox"} Nachrichten
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Profil
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "/pages/profil_sp"} Profil bearbeiten
              %li
                %a{:href => "/pages/passwort"} Kontoeinstellungen
              %li
                %a{:href => "/pages/match_sp"} Matchings
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Logout
  .container-fluid
    .row#main_row
      .col-md-12
        %h1.name_page Profil
  .container-fluid#messa
    .row
      .col-md-2.col-md-offset-1.col-sm-4
        %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:210px"}
      .col-md-2.hidden-xs.hidden-sm
        %a{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Videos, Bilder und der sportliche Lebenslauf können nur nach erfolgreichem Matching vom jeweiligem Verein eingesehen werden.", :rel => "tooltip", :href => "#"}
          %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1462526860/question_zo2rqm.png", :style => "max-width:20px", }
      .col-md-3
        .form-group
          %input#Email1.form-control{:placeholder => "Vorname", :type => "text"}
          %input#Password1.form-control{:placeholder => "Nachname", :type => "text"}
          %select.form-control
            %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Nationalit&auml;t
            %option{:value => "man"} Deutschland
            %option{:value => "woman"} Frankreich
          %select.form-control
            %option{:disabled => "", :hidden => "", :selected => "", :value => ""} H&ouml;chste gespielte Liga
            %option{:value => "tow"} Ebene1
            %option{:value => "def"} Ebene2
            %option{:value => "mit"} Ebene3
            %option{:value => "off"} Ebene4
          %select.form-control
            %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Gew&uuml;nschte  Position
            %option{:value => "tow"} Towart
            %option{:value => "def"} Defensive
            %option{:value => "mit"} Mittelfeld
            %option{:value => "off"} Offensive
      .col-md-3
        %select.form-control
          %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Aktuelle Liga
          %option{:value => "tow"} Ebene1
          %option{:value => "def"} Ebene2
          %option{:value => "mit"} Ebene3
          %option{:value => "off"} Ebene4
        %select.form-control
          %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Gesuchte Liga
          %option{:value => "tow"} Ebene1
          %option{:value => "def"} Ebene2
          %option{:value => "mit"} Ebene3
          %option{:value => "off"} Ebene4
        %select.form-control
          %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Starker Fuß
          %option{:value => "tow"} Rechts
          %option{:value => "def"} Links
          %option{:value => "mit"} Beide
        %a.btn.btn-primary.btn-lg.btn-block{"data-target" => "#skills", "data-toggle" => "modal",  :style => "margin-top:3px;"} F&auml;higkeiten verwalten
        %label.btn.btn-primary.btn-lg.btn-block{:for => "file-upload"}
          Sportlicher Lebenslauf
        %input#file-upload{:type => "file", :style=>"display:none", }
  .container-fluid
    .row
      .col-md-3.col-md-offset-5
        .checkbox{:style => "text-align: left;"}
          %label
            %input{:type => "checkbox"}
              Ich akzeptiere die AGBs
      .col-md-3
        %a.btn.btn-primary.btn-lg.btn-block{:href => "#"}Speichern
    .row{:style=>"margin-top:20px"}
      .col-md-10.col-md-offset-1
        .span8
          %a.hidden-xs.hidden-sm{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Videos, Bilder und der sportliche Lebenslauf können nur nach erfolgreichem Matching vom jeweiligem Verein eingesehen werden.", :rel => "tooltip", :href => "#", :style=>"float:right"}
            %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1462526860/question_zo2rqm.png", :style => "max-width:20px", }
          .well
            #myCarousel.carousel.slide
              .carousel-inner
                .item.active
                  .row-fluid
                    .col-md-3{:style=>"text-align:center;"}
                      .image-upload.thumbnail
                        %label{:for => "file-input", :style => "margin-bottom:0;"}
                          %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1462890082/plusik_krhy0k.jpg"}
                        %input#file-input{:type => "file"}
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .item
                  .row-fluid
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
              %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
              %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
  .container-fluid#messa
    .row
      .col-md-10.col-md-offset-1
        .span8
          %a.hidden-xs.hidden-sm{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Videos, Bilder und der sportliche Lebenslauf können nur nach erfolgreichem Matching vom jeweiligem Verein eingesehen werden.", :rel => "tooltip", :href => "#", :style=>"float:right"}
            %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1462526860/question_zo2rqm.png", :style => "max-width:20px", }
          .well
            #myCarousel2.carousel.slide
              .carousel-inner
                .item.active
                  .row-fluid
                    .col-md-3{:style=>"text-align:center;"}
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .item
                  .row-fluid
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
              %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel2"} ‹
              %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel2"} ›
#skills.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  F&auml;higkeiten verwalten
      .modal-body
        %form.form-horizontal
          .form-group{:style => "font-size:14pt; text-align:left"}
            %table.table.table-bordered{:style => "font-size: 13pt;"}
              %tr
                %td.col-md-12#zag_skills{:colspan => "2"}
                  %p Geschwindigkeit 
              %tr
                %td.col-md-6
                  %label Antritt
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Schnelligkeit
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-12#zag_skills{:colspan => "2"}
                  %p Dribbeln
              %tr
                %td.col-md-6
                  %label Beweglichkeit
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Reaktionsverm&ouml;gen
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Dribbeln 
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-12#zag_skills{:colspan => "2"}   
                  %p Schießen
              %tr
                %td.col-md-6
                  %label Abschluss
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Schusskraft
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Distanzsch&uuml;sse
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Volleysch&uuml;sse
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Elfmeter
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Freistoß
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-12#zag_skills{:colspan => "2"}
                  %p Verteidigen
              %tr
                %td.col-md-6
                  %label Kopfballst&auml;rke
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Zweikampf
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label  Gr&auml;tschen
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-12#zag_skills{:colspan => "2"}
                  %p Passen
              %tr
                %td.col-md-6
                  %label  Seitenwechsel
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label  Kurzpassspiel
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Langpassspiel
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Anschneiden
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-12#zag_skills{:colspan => "2"}
                  %p K&ouml;rperlich
              %tr
                %td.col-md-6
                  %label Sprungkraft
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label St&auml;rke
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Aggressivit&auml;t
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-6
                  %label Ausdauer/Kondition
                %td.col-md-6
                  %select.form-control.skil_sel
                    %option{:disabled => "", :hidden => "", :selected => "", :value => ""} 
                    %option{:value => "gut"} Gut ausgepr&auml;gt
                    %option{:value => "durch"} Durchschnittlich
                    %option{:value => "nicht"} Nicht so ausgepr&auml;gt
              %tr
                %td.col-md-12{:colspan => "2"}
                  %a.btn.btn-primary.btn-lg.btn-block{:href => "#"}Speichern







           
           