#wrapp  
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/pages/soc", :rel => "home", :title => "Soccertransfair"}
          %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;", }
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/pages/soc"} Home
          %li
            %a{:href => "/pages/sp_res"} Suche  Spieler
          %li
            %a{:href => "/pages/ver_res"} Suche Verein
          %li#log
            %a{:href => "/pages/inbox"} Nachrichten
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Profil
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "/pages/prof_sp"} Profil bearbeiten
              %li
                %a{:href => "/pages/passwort"} Kontoeinstellungen
              %li
                %a{:href => "/pages/match_sp"} Matchings
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Logout
  .container-fluid
    .row#main_row
      .col-md-12
        %h1.name_page Profil
  .container-fluid#messa
    .row
      %form.col-md-10.col-md-offset-1{:style => "margin-top:5px;padding:5px 5px;"}
        .col-md-3.col-sm-4
          %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:200px"}
        .col-md-5.col-sm-6
          #name_red Marco Reus
          %b Geb./Alter:
          31.05.1989 (26)
          %br
          %b Position: 
          Torh&uuml;ter
          %br 
          %b Nationalit&auml;t: 
          Deutschland
          %br
          %b Aktuelle Liga: 
          Regional
          %br
          %b Gew&uuml;nschte Klasse: 
          Bundesliga
          %br 
          %b Starker Fuss: 
          Rechts
    .row
      .col-md-10.col-md-offset-1
        .span8
          .well
            #myCarousel.carousel.slide
              .carousel-inner
                .item.active
                  .row-fluid
                    .col-md-3{:style=>"text-align:center;"}
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .item
                  .row-fluid
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
              %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
              %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
  .container-fluid#messa
    .row
      .col-md-10.col-md-offset-1
        .span8
          .well#messa
            #myCarousel2.carousel.slide
              .carousel-inner
                .item.active
                  .row-fluid
                    .col-md-3{:style=>"text-align:center;"}
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .item
                  .row-fluid
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}
                    .col-md-3
                      %a.thumbnail{:href => "#x"}
                        %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
              %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel2"} ‹
              %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel2"} ›
  .container-fluid#margin
    .row
      .col-md-10.col-md-offset-1
        #no-more-tables
          %table.table.table-striped.table-bordered{:style => "font-size: 11pt;"}
            %thead
              %tr#red_head
                %td.col-md-2#anf
                  Geschwindigkeit
                %td.col-md-2#anf
                  Dribbeln
                %td.col-md-2#anf
                  Schießen
                %td.col-md-2#anf 
                  Verteidigen
                %td.col-md-2#anf 
                  Passen
                %td.col-md-2#anf 
                  K&ouml;rperlich
            %tr
              %td#anf
                Antritt
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1463582580/rank_dw9fcp.png", :style => "max-height:20px;float:right", :title=>"Gut ausgepr&auml;gt"}
              %td#anf
                Beweglichkeit
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_464/v1463583022/rank2_sm_yqo44m.png", :style => "max-height:20px;float:right", :title=>"Durchschnittlich"}
              %td#anf
                Abschluss
              %td#anf
                Kopfballst&auml;rke
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1463582580/rank_dw9fcp.png", :style => "max-height:20px;float:right", :title=>"Gut ausgepr&auml;gt"}
              %td#anf
                Seitenwechsel
              %td#anf
                Sprungkraft
            %tr
              %td#anf 
                Schnelligkeit
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_464/v1463583022/rank2_sm_yqo44m.png", :style => "max-height:20px;float:right", :title=>"Durchschnittlich"}
              %td#anf 
                Reaktionsverm&ouml;gen
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_464/v1463583133/rank3_sm_bexmgz.png", :style => "max-height:20px;float:right", :title=>"Nicht so ausgepr&auml;gt"}
              %td#anf 
                Schusskraft
              %td#anf 
                Zweikampf
              %td#anf 
                Kurzpassspiel
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1463582580/rank_dw9fcp.png", :style => "max-height:20px;float:right", :title=>"Gut ausgepr&auml;gt"}
              %td#anf 
                St&auml;rke
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_464/v1463583133/rank3_sm_bexmgz.png", :style => "max-height:20px;float:right", :title=>"Nicht so ausgepr&auml;gt"}
            %tr
              %td#anf.hidden-xs.hidden-sm 
                
              %td#anf 
                Dribbeln
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_464/v1463583022/rank2_sm_yqo44m.png", :style => "max-height:20px;float:right", :title=>"Durchschnittlich"}
              %td#anf 
                Distanzsch&uuml;sse
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_464/v1463583022/rank2_sm_yqo44m.png", :style => "max-height:20px;float:right", :title=>"Durchschnittlich"}
              %td#anf 
                Gr&auml;tschen
              %td#anf 
                Langpassspiel
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_464/v1463583133/rank3_sm_bexmgz.png", :style => "max-height:20px;float:right", :title=>"Nicht so ausgepr&auml;gt"}
              %td#anf 
                Aggressivit&auml;t
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1463582580/rank_dw9fcp.png", :style => "max-height:20px;float:right", :title=>"Gut ausgepr&auml;gt"}
            %tr
              %td#anf.hidden-xs.hidden-sm 
                
              %td#anf.hidden-xs.hidden-sm 
                
              %td#anf 
                Volleysch&uuml;sse

              %td#anf.hidden-xs.hidden-sm 
                
              %td#anf 
                Anschneiden
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_464/v1463583022/rank2_sm_yqo44m.png", :style => "max-height:20px;float:right", :title=>"Durchschnittlich"}
              %td#anf 
                Ausdauer/Kondition
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1463582580/rank_dw9fcp.png", :style => "max-height:20px;float:right", :title=>"Gut ausgepr&auml;gt"}
            %tr
              %td#anf.hidden-xs.hidden-sm 
                
              %td#anf.hidden-xs.hidden-sm 
                
              %td#anf 
                Elfmeter
              %td#anf.hidden-xs.hidden-sm 
                
              %td#anf.hidden-xs.hidden-sm 
                
              %td#anf.hidden-xs.hidden-sm 
                
            %tr
              %td#anf.hidden-xs.hidden-sm 
                
              %td#anf.hidden-xs.hidden-sm 
                
              %td#anf.hidden-xs.hidden-sm 
                Freistoß
                %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1463582580/rank_dw9fcp.png", :style => "max-height:20px;float:right", :title=>"Gut ausgepr&auml;gt"}
              %td#anf.hidden-xs.hidden-sm 
                
              %td.hidden-xs.hidden-sm
                
              %td.hidden-xs.hidden-sm
  .container-fluid
    .row
      .col-md-4.col-md-offset-1
        %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1463582580/rank_dw9fcp.png", :style => "max-height:30px"}
        Gut ausgepr&auml;gt
      .col-md-4
        %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,w_464/v1463582580/rank2_o4fele.png", :style => "max-height:30px"}
        Durchschnittlich
      .col-md-3
        %img{:alt => "Image", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,w_464/v1463582580/rank3_kydvy0.png", :style => "max-height:30px"}
        Nicht so ausgepr&auml;gt
    %br
  .container-fluid
    .row
      .col-md-2.col-md-offset-9
        %a.btn.btn-primary.btn-lg.btn-block{"data-target" => "#kontakt_sp", "data-toggle" => "modal",  :style => "margin:9px 3px;"}Spieler kontaktieren
  .container-fluid#footer
    %a.navbar-brand{:href => "#", :rel => "home", :title => "Soccertransfair"}
      %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;"}
    .row
      .col-md-2.col-md-offset-8.col-xs-12
        = link_to 'Impressum', impressum_url , class: "main_link"
        = link_to 'Datenschutzerklärung', daten_url, class: "main_link"
#kontakt_sp.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Spieler kontaktieren
      .modal-body
        #namee Marco Reus
        .container-fluid
          .row#margin
            .col-md-11.col-md-offset-1
              %textarea.form-control{:rows => "8", :placeholder => "Nachrichten"}
          .row
            .col-md-3.col-md-offset-8
              %a.btn.btn-primary.btn-lg.btn-block#margin{:href=>"#"} Senden

