#wrapp  
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/pages/soc", :rel => "home", :title => "Soccertransfair"}
          %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;", }
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/pages/soc"} Home
          %li
            %a{:href => "/pages/sp_res"} Suche  Spieler
          %li
            %a{:href => "/pages/ver_res"} Suche Verein
          %li#log
            %a{:href => "/pages/inbox"} Nachrichten
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Profil
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "/pages/ver_pr"} Profil bearbeiten
              %li
                %a{:href => "/pages/passwort"} Kontoeinstellungen
              %li
                %a{:href => "/pages/match"} Matchings
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Logout
  .container-fluid
    .row#main_row
      .col-md-12
        %h1.name_page Profil
  .container-fluid#messa
    .row
      .col-md-2.col-md-offset-1.col-sm-4
        %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_656,w_656/v1461938870/ver_image_nemmey.png", :style => "max-width:210px"}
      .col-md-5.col-sm-6
        #name_red Borussia Dortmund
        .row
          .col-sm-6
            %b Adresse:
            Hardenbergstr. 38
            %br
            %b PLZ:
            13897
            %br 
            %b Ort: 
            Dortmund
            %br
            %b Kontaktperson Herren:
            %br
            %b Kontaktperson Jugend:
          .col-sm-6
            %b Website:
            www.bvb.de
            %br
            %b E-Mail:
            info@bvb.de
            %br 
            %b Telefon: 
            123465789
            %br
            Inga Pugacheva
            %br
            Mick Noeltgen
  .container-fluid#messa
    .row
      .col-md-10.col-md-offset-1
        %form
          .form-group#final_descr
            Der Ballspielverein Borussia 09 e.V. Dortmund (kurz Borussia Dortmund, BVB oder BVB 09) ist ein Verein aus Dortmund. Seine Fußballsparte nimmt „als Hauptsportart die hervorragende Stellung innerhalb des Vereins“ ein. Borussia Dortmund ist im Männerfußball einer der erfolgreichsten Klubs Deutschlands; neben acht Deutschen Meisterschaften und drei DFB-Pokalsiegen gewann der BVB 1966 den Europapo- kal der Pokalsieger (und damit als erster deutscher Verein überhaupt einen Europa- pokal) und 1997 die Champions League sowie im selben Jahr den Weltpokal. Die erste Herrenmannschaft spielt in der Bundesliga und belegt in deren Ewiger Tabelle den Platz 4.
  .container-fluid
    .row
      .col-md-10.col-md-offset-1
        %table.table.table-striped.table-bordered{:style => "font-size: 15pt;"}
          %tbody
            %tr
              %td.col-md-6
                Bundesliga
              %td.col-md-6 
                Mannschaft
            %tr
              %td
                Bundesliga
              %td 
                Mannschaft
            %tr
              %td
                Bundesliga
              %td 
                Mannschaft
            %tr
              %td
                Bundesliga
              %td 
                Mannschaft
            %tr
              %td
                Bundesliga
              %td 
                Mannschaft
  .container-fluid
    .row
      .col-md-2.col-md-offset-9
        %a.btn.btn-primary.btn-lg.btn-block{"data-target" => "#kontakt", "data-toggle" => "modal",  :style => "margin:9px 3px;"}Verein kontaktieren
  .container-fluid#footer
    %a.navbar-brand{:href => "#", :rel => "home", :title => "Soccertransfair"}
      %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;"}
    .row
      .col-md-2.col-md-offset-8.col-xs-12
        = link_to 'Impressum', impressum_url , class: "main_link"
        = link_to 'Datenschutzerklärung', daten_url, class: "main_link"
#kontakt.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Verein kontaktieren
      .modal-body
        #namee Borussia Dortmund
        .container-fluid
          .row{:style => "margin-top:10px"}
            .col-md-11.col-md-offset-1
              %textarea.form-control{:rows => "8", :placeholder => "Nachrichten"}
          .row
            .col-md-3.col-md-offset-8
              %a.btn.btn-primary.btn-lg.btn-block#margin{:href=>"#"} Senden

