%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/pages/soc", :rel => "home", :title => "Soccertransfair"}
        %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;"}
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Home
        %li
          %a{:href => "/pages/spieler_search"} Suche  Spieler
        %li
          %a{:href => "/pages/verein_search"} Suche Verein
        %li#log
          %a{"data-target" => "#login_m", "data-toggle" => "modal"} Login
        %li
          %a{ "data-target" => "#myModal", "data-toggle" => "modal" } Anmelden
.container-fluid#back
  .container-fluid#sear
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#home"} Suche Spieler
      %li
        %a{"data-toggle" => "tab", :href => "#menu1"} Suche Verein
    .tab-content
      #home.tab-pane.fade.in.active
        %form
          .container-fluid
            .row
              .col-md-2.col-sm-12.col-xs-12
                %select.form-control#drop_down
                  %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Geschlecht
                  %option{:value => "man"} M&auml;nnlich
                  %option{:value => "woman"} Weiblich
              .col-md-2.col-sm-12.col-xs-12
                %select.form-control#drop_down
                  %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Position
                  %option{:value => "tow"} Towart
                  %option{:value => "def"} Defensive
                  %option{:value => "mit"} Mittelfeld
                  %option{:value => "off"} Offensive
              .col-md-1.col-sm-6.col-xs-12
                %input#altvoninput-small.form-control#drop_down{:placeholder => "Alter von", :type => "text"}
              .col-md-1.col-sm-6.col-xs-12
                %input#altvon.form-control#drop_down{:placeholder => "Alter bis", :type => "text"}
              .col-md-2.col-sm-12.col-xs-12
                %select.form-control#drop_down
                  %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Aktuelle Liga
                  %option{:value => "tow"} Ebene1
                  %option{:value => "def"} Ebene2
                  %option{:value => "mit"} Ebene3
                  %option{:value => "off"} Ebene4
              .col-md-1.col-sm-12.col-xs-12
                %input#altvon.form-control#drop_down{:placeholder => "PLZ", :type => "text"}
              .col-md-1.col-sm-12.col-xs-12
                %select.form-control#drop_down
                  %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Umkr.
                  %option{:value => "tow"} +5
                  %option{:value => "def"} +10
                  %option{:value => "mit"} +15
                  %option{:value => "off"} +20
              .col-md-2.col-sm-12.col-xs-12
                %button.btn.btn-primary.btn-lg.btn-block#such{:type => "submit"} Suchen
      #menu1.tab-pane.fade
        %form
          .container-fluid
            .row
              .col-md-2.col-md-offset-2.col-sm-12.col-xs-12
                %select.form-control#drop_down
                  %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Aktuelle Liga
                  %option{:value => "tow"} Ebene1
                  %option{:value => "def"} Ebene2
                  %option{:value => "mit"} Ebene3
                  %option{:value => "off"} Ebene4
              .col-md-2.col-sm-12.col-xs-12
                %input#altvon.form-control#drop_down{:placeholder => "PLZ", :type => "text"}
              .col-md-2.col-sm-12.col-xs-12
                %select.form-control#drop_down
                  %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Umkreis
                  %option{:value => "tow"} +5
                  %option{:value => "def"} +10
                  %option{:value => "mit"} +15
                  %option{:value => "off"} +20
              .col-md-2.col-sm-12.col-xs-12
                %button.btn.btn-primary.btn-lg.btn-block#such{:type => "submit"} Suchen
  .container#mob_fun
    .row
      .col-md-3.col-sm-4.col-xs-6
        %a{:href => "https://www.11teamsports.de/"}
          %img.img-responsive.center-block{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1464168968/logo_hzns4z.png", :title=>"11teamsports"}
      .col-md-4.col-md-offset-1.hidden-xs.hidden-sm
        %a.btn.btn-primary.btn-lg.btn-block.smoothScroll#but_funkt{:href => "#second"} So funktioniert's
      .col-md-3.col-md-offset-1.col-sm-4.col-sm-offset-4.col-xs-6
        %a{:href => "http://www.saisonabschlussreise.de/"}
          %img.img-responsive.center-block{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1464183136/logo_uoffcg.png", :title=>"Nachspielzeit"}
.container-fluid#second
  .container-fluid
    .row#messa
      .col-md-12.hidden-xs.hidden-sm
        %h1#funk So funktioniert's
    .row#messa
      .col-md-3.col-sm-12
        .row#messa
          .col-md-12
            %img.img-responsive.center-block#ico{:alt => "such_im", :height => "auto", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/suchen_v5hauc.png", :title => "Suchen", :width => "50%"}
        .row#name_icons
          .col-md-12
            Suchen
        .row#text_icons
          .col-md-12
            Suchen Sie eine neuen Spieler f&uuml;r Ihren Verein oder suchen Sie einen neuen Verein
      .col-md-3.col-sm-12
        .row
          .col-md-12
            %img.img-responsive.center-block#ico{:height => "auto", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/matching_mhizlf.png", :title => "Matching", :width => "50%"}
        .row#name_icons
          .col-md-12
            Matching
        .row#text_icons
          .col-md-12
            Vervollst&auml;ndigen Sie Ihr Profil f&uuml;r ein bestm&ouml;gliches Matching
      .col-md-3.col-sm-12
        .row
          .col-md-12
            %img.img-responsive.center-block#ico{:height => "auto", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/anfragen_hk7xqf.png", :title => "Anfragen", :width => "50%"}
        .row#name_icons
          .col-md-12
            Anfragen
        .row#text_icons
          .col-md-12
            Schicken Sie dem Verein oder dem Spieler eine Anfrage
      .col-md-3.col-sm-12
        .row
          .col-md-12
            %img.img-responsive.center-block#ico{:height => "auto", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/kontakt_hlbdzs.png", :title => "Kontakt", :width => "50%"}
        .row#name_icons
          .col-md-12
            Kontakt
        .row#text_icons
          .col-md-12
            Treten Sie in Kontakt oder vereinbaren direkt ein Probetraining
.container-fluid#testimon
  .container-fluid
    .row
      .col-md-12
        %h1#test_h1 Testimonials
    .row
      .col-md-4.col-md-offset-4
        .row
          .col-md-12
            %img.img-responsive.center-block#main_img{:height => "auto", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1464186448/thomas_kv_hyjiab.png"}
        .row#name_icons
          .col-md-12
            Thomas H&auml;ßler
        .row#text_icons
          .col-md-12
            "Soccertransfer ist eine super Plattform um Spieler mit Vereinen zu verbinden"
.container-fluid#match
  .container-fluid#match_monat
    .row
      .col-md-12
        %h1#funk Top Transfer des Monats
    .row
      .col-md-4.col-md-offset-2
        .row
          .col-md-12
            %img.img-responsive.center-block#tran{:height => "auto", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,w_200/v1464260959/sp_bi1yhw.png"}
        .row#name_icons
          .col-md-12
            Spandau 06
      .col-md-4.col-md-offet-1
        .row
          .col-md-12
            %img.img-responsive.center-block#tran{:height => "auto", :src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1464260562/sascha_gnf1ii.png"}
        .row#name_icons
          .col-md-12
            Sascha Querfurth
.container-fluid#footer
  %a.navbar-brand{:href => "#", :rel => "home", :title => "Soccertransfair"}
    %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;"}
  .row
    .col-md-2.col-md-offset-8.col-xs-12
      = link_to 'Impressum', impressum_url , class: "main_link"
      = link_to 'Datenschutzerklärung', daten_url, class: "main_link"
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Anmelden
      .modal-body
        %form
          .form-group
            %select.form-control#options{:onchange => "optionCheck()"}
              %option{:value => "spieler_option"} Registrieren als Spieler
              %option{:value => "verein_option"} Registrieren als Verein
            #spieler_div
              .form-group
                %input#IEmail1.form-control{:placeholder => "Email", :type => "email"}
                %input#IPassword1.form-control{:placeholder => "Password", :type => "password"}
                %input#IRegi1.form-control{:placeholder => "Region/PLZ", :type => "text"}
                %input#IGebus1.form-control{:placeholder => "Geburstdatum", :type => "text"}
                %select.form-control
                  %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Geschlecht
                  %option{:value => "man"} M&auml;nnlich
                  %option{:value => "woman"} Weiblich
                %select.form-control
                  %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Aktuelle Liga
                  %option{:value => "tow"} Ebene1
                  %option{:value => "def"} Ebene2
                  %option{:value => "mit"} Ebene3
                  %option{:value => "off"} Ebene4
                %select.form-control
                  %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Gew&uuml;nschte Spielklasse
                  %option{:value => "tow"} Ebene1
                  %option{:value => "def"} Ebene2
                  %option{:value => "mit"} Ebene3
                  %option{:value => "off"} Ebene4
                %select.form-control
                  %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Position
                  %option{:value => "tow"} Towart
                  %option{:value => "def"} Defensive
                  %option{:value => "mit"} Mittelfeld
                  %option{:value => "off"} Offensive
              %button.btn.btn-primary.btn-lg.btn-block{"data-dismiss" => "modal","data-target" => "#anme_mes", "data-toggle" => "modal",} Anmelden
              %button.links{ "data-dismiss" => "modal","data-target" => "#login_m", "data-toggle" => "modal", :type => "button"}Bereits registriert?
            #verein_div
              %select.form-control
                %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Vereinsname
                %option{:value => "tow"} Ebene1
                %option{:value => "def"} Ebene2
                %option{:value => "mit"} Ebene3
                %option{:value => "off"} Ebene4

            %br
            %p
              W&auml;hlen Sie Ihren Verein aus der Liste aus. Im Anschluss senden wir die Login Daten an die vom Verein hinterlegte E-Mail Adresse.Bitte kontaktieren Sie dazu den Vereinsverantwortlichen
            %br
            %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} Anmelden
            %button.links{ "data-dismiss" => "modal","data-target" => "#login_m", "data-toggle" => "modal", :type => "button"}Bereits registriert?
            %button.links{ "data-dismiss" => "modal","data-target" => "#probl_m", "data-toggle" => "modal", :type => "button"}Probleme bei der Anmeldung?

            %br
            %p
              W&auml;hlen Sie Ihren Verein aus der Liste aus. Im Anschluss senden wir die Login Daten an die vom Verein hinterlegte E-Mail Adresse.Bitte kontaktieren Sie dazu den Vereinsverantwortlichen
            %br
            %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} Anmelden
            %button.links{ "data-dismiss" => "modal","data-target" => "#login_m", "data-toggle" => "modal", :type => "button"}Bereits registriert?
            %button.links{ "data-dismiss" => "modal","data-target" => "#probl_m", "data-toggle" => "modal", :type => "button"}Probleme bei der Anmeldung?

#login_m.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Login
      .modal-body
        %form
          .form-group
            %input#Email1.form-control{:placeholder => "Email", :type => "email"}
            %input#Password1.form-control{:placeholder => "Password", :type => "password"}
          .checkbox{:style => "text-align: left;"}
            %label
              %input{:type => "checkbox"}
                Angemeldet bleiben
          %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} Login
          %button.links{ "data-dismiss" => "modal","data-target" => "#log_ver_m", "data-toggle" => "modal", :type => "button"}Login-Daten vergessen?
#probl_m.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Probleme bei der Anmeldung?
      .modal-body
        %p{:style => "text-align:justify"}
          Wenn Sie keinen Zugriff auf die vom Verein hinterlegte E-Mail Adresse haben, kontaktieren Sie uns bitte unter
        %b
        %p{:style => "text-align:left; font-weight:bold"} T.: 030-37588468
        %p{:style => "text-align:left; font-weight:bold"}  E.: support@soccertransfair.com
        %p{:style => "text-align:justify"}
        %p#just
          Wenn Sie keinen Zugriff auf die vom Verein hinterlegte E-Mail Adresse haben, kontaktieren Sie uns bitte unter 
        %b
        %p#tel_email T.: 030-37588468 
        %p#tel_email  E.: support@soccertransfair.com
        %p#just
          Ihr Verein ist nicht in der Liste? Tragen Sie folgende Daten ein und wir benachrichtigen Sie sobald Ihr Verein in unsere Datenbank aufgenommen wurde.
        %form
          .form-group
            %input#Email1.form-control{:placeholder => "Email", :type => "email"}
            %input#kontper1.form-control{:placeholder => "Kontaktperson", :type => "text"}
            %input#vername1.form-control{:placeholder => "Vereinsname", :type => "text"}
            %input#homep.form-control{:placeholder => "Homepage", :type => "url"}
          %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} Senden
#log_ver_m.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Login-Daten vergessen
      .modal-body
        %form
          .form-group
            %input#Email1.form-control{:placeholder => "Email", :type => "email"}
          %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} Senden

#anme_mes.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Vielen Dank!
      .modal-body
        %form{:style=>"font-size:14pt"}
          Sie erhalten in K&uuml;rze eine Best&auml;tigungs-Email um Ihre Registrierung abzuschliessen
#thank_mes.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Vielen Dank!
      .modal-body
        %form{:style=>"font-size:14pt"}
          Sie k&ouml;nnen sich nun mit Ihren Logindaten anmelden.

#new_pass.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Neues Passwort
      .modal-body
        %form
          .form-group
            %input#Email1.form-control{:placeholder => "Passwort", :type => "password"}
            %input#Email1.form-control{:placeholder => "Passwort wiederholen", :type => "password"}
          %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} Zur&uuml;cksetzen

