#wrapp  
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/pages/soc", :rel => "home", :title => "Soccertransfair"}
          %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;"}
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/pages/soc"} Home
          %li.active
            %a{:href => "/pages/spieler_search"} Suche  Spieler
          %li
            = link_to 'Suche Verein', ver_res_url 
          %li#log
            %a{:href => "/pages/inbox"} Nachrichten
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Profil
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "/pages/prof_sp"} Profil bearbeiten
              %li
                %a{:href => "/pages/passwort"} Kontoeinstellungen
              %li
                %a{:href => "/pages/match_sp"} Matchings
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Logout
  .container-fluid
    .row#main_row
      .col-md-12
        %h1.name_page Wir haben passende Spieler f&uuml;r Sie gefunden!
  %form
    .container-fluid
      .row#results
        .col-md-1.col-sm-6.col-xs-12
          %select.form-control
            %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Umkr.
            %option{:value => "tow"} +5
            %option{:value => "def"} +10
            %option{:value => "mit"} +15
            %option{:value => "off"} +20   
        .col-md-2.col-sm-6.col-xs-12         
          %select.form-control
            %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Aktuelle Liga
            %option{:value => "tow"} Ebene1
            %option{:value => "def"} Ebene2
            %option{:value => "mit"} Ebene3
            %option{:value => "off"} Ebene4
        .col-md-2.col-sm-6.col-xs-12
          %select.form-control
            %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Nationalit&auml;t
            %option{:value => "man"} Deutschland
            %option{:value => "woman"} Frankreich
        .col-md-2.col-sm-6.col-xs-12
          %select.form-control
            %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Position
            %option{:value => "tow"} Towart
            %option{:value => "def"} Defensive
            %option{:value => "mit"} Mittelfeld
            %option{:value => "off"} Offensive
        .col-md-1.col-sm-6.col-xs-12
          %input#altvon.form-control{:placeholder => "Alter von", :type => "text"}
        .col-md-1.col-sm-6.col-xs-12
          %input#altvon.form-control{:placeholder => "Alter bis", :type => "text"}
        .col-md-2.col-sm-6.col-xs-12
          %select.form-control
            %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Starker Fuß
            %option{:value => "tow"} Rechts
            %option{:value => "def"} Links
            %option{:value => "mit"} Beide
        .col-md-1.col-sm-6.col-xs-12
          %button.btn.btn-primary.btn-lg.btn-block#suchen_b{:type => "submit"} Suchen
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        #no-more-tables
          %table.table.table-striped.table-bordered{:style => "font-size: 15px;"}
            %tr#tab_row
              %td.col-md-2
                %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:100px"}
              %td.col-md-7 
                %b Name
                %br
                %b Position: 
                Torh&uuml;ter 
                %br 
                %b Alter: 
                28
                %br 
                %b Aktuelle Liga: 
                Regional
                %br 
                %b Ort: 
                Berlin
              %td.col-md-3#anf
                %a.btn.btn-primary.btn-lg.btn-block{:href => "/pages/anfrag_sp"} Anfragen
            %tr
              %td
                %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:100px"}
              %td 
                %b Name
                %br
                %b Position: 
                Torh&uuml;ter 
                %br 
                %b Alter: 
                28
                %br 
                %b Aktuelle Liga: 
                Regional
                %br 
                %b Ort: 
                Berlin
              %td#anf
                %a.btn.btn-primary.btn-lg.btn-block{:href => "/pages/anfrag_sp"} Anfragen
            %tr#tab_row
              %td
                %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:100px"}
              %td 
                %b Name
                %br
                %b Position: 
                Torh&uuml;ter 
                %br 
                %b Alter: 
                28
                %br 
                %b Aktuelle Liga: 
                Regional
                %br 
                %b Ort: 
                Berlin    
              %td#anf
                %a.btn.btn-primary.btn-lg.btn-block{:href => "/pages/anfrag_sp"} Anfragen
            %tr
              %td
                %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:100px"}
              %td 
                %b Name
                %br
                %b Position: 
                Torh&uuml;ter 
                %br 
                %b Alter: 
                28
                %br 
                %b Aktuelle Liga: 
                Regional
                %br 
                %b Ort: 
                Berlin
              %td#anf
                %a.btn.btn-primary.btn-lg.btn-block{:href => "/pages/anfrag_sp"} Anfragen
            %tr#tab_row
              %td
                %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:100px"}
              %td 
                %b Name
                %br
                %b Position: 
                Torh&uuml;ter 
                %br 
                %b Alter: 
                28
                %br 
                %b Aktuelle Liga: 
                Regional
                %br 
                %b Ort: 
                Berlin
              %td#anf
                %a.btn.btn-primary.btn-lg.btn-block{:href => "/pages/anfrag_sp"} Anfragen
  %nav#pagin
    %ul.pagination.pagination-sm
      %li.disabled
        %a{"aria-label" => "Previous", :href => "#"}
          %span{"aria-hidden" => "true"} &laquo;
      %li.active
        %a{:href => "#"}
          1
          %span.sr-only (current)
      %li
        %a{:href => "#"} 2
      %li
        %a{:href => "#"} 3 
  .container-fluid#footer
    %a.navbar-brand{:href => "#", :rel => "home", :title => "Soccertransfair"}
      %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;"}
    .row
      .col-md-2.col-md-offset-8.col-xs-12
        = link_to 'Impressum', impressum_url , class: "main_link"
        = link_to 'Datenschutzerklärung', daten_url, class: "main_link"