#wrapp  
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/pages/soc", :rel => "home", :title => "Soccertransfair"}
          %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;"}
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/pages/soc"} Home
          %li.active
            %a{:href => "/pages/sp_res"} Suche  Spieler
          %li
            %a{:href => "/pages/verein_search"} Suche Verein
          %li#log
            %a{"data-target" => "#login_m", "data-toggle" => "modal"} Login
          %li
            %a{ "data-target" => "#myModal", "data-toggle" => "modal" } Anmelden
  .container-fluid
    .row#main_row
      .col-md-12
        %h1.name_page Wir haben passende Spieler f&uuml;r Sie gefunden!
  .container-fluid
    .row
      .col-md-12
        %p#zag Folgende Spieler k&ouml;nnten zu Ihrem Verein passen
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        %table.table.table-striped.table-bordered{:style => "font-size: 15px;"}
          %tr#tab_row
            %td.col-md-2
              %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:100px"}
            %td.col-md-10 
              %b Name
              %br
              %b Position: 
              Torh&uuml;ter 
              %br 
              %b Alter: 
              28
              %br 
              %b Aktuelle Liga: 
              Regional
              %br 
              %b Ort: 
              Berlin
          %tr
            %td
              %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:100px"}
            %td 
              %b Name
              %br
              %b Position: 
              Torh&uuml;ter 
              %br 
              %b Alter: 
              28
              %br 
              %b Aktuelle Liga: 
              Regional
              %br 
              %b Ort: 
              Berlin
          %tr
            %td
              %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:100px"}
            %td 
              %b Name
              %br
              %b Position: 
              Torh&uuml;ter 
              %br 
              %b Alter: 
              28
              %br 
              %b Aktuelle Liga: 
              Regional
              %br 
              %b Ort: 
              Berlin
          %tr
            %td
              %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:100px"}
            %td 
              %b Name
              %br
              %b Position: 
              Torh&uuml;ter 
              %br 
              %b Alter: 
              28
              %br 
              %b Aktuelle Liga: 
              Regional
              %br 
              %b Ort: 
              Berlin
          %tr
            %td
              %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_565,w_565/v1461938985/spi_image_p9lj62.png", :style => "max-width:100px"}
            %td 
              %b Name
              %br
              %b Position: 
              Torh&uuml;ter 
              %br 
              %b Alter: 
              28
              %br 
              %b Aktuelle Liga: 
              Regional
              %br 
              %b Ort: 
              Berlin
  .container-fluid
    .row
      .col-md-12
        %p#zag
          Wollen Sie Kontakt zu den passenden Spieler aufnehmen? Dann vervollständigen Sie bitte
          %a{:href => "#"} hier
          Ihr Profil      
  .container-fluid#footer
    %a.navbar-brand{:href => "#", :rel => "home", :title => "Soccertransfair"}
      %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;"}
    .row
      .col-md-2.col-md-offset-8.col-xs-12
        = link_to 'Impressum', impressum_url , class: "main_link"
        = link_to 'Datenschutzerklärung', daten_url, class: "main_link"
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Anmelden
      .modal-body
        %form
          %select.form-control#options{:onchange => "optionCheck()"}
            %option{:value => "spieler_option"} Registrieren als Spieler
            %option{:value => "verein_option"} Registrieren als Verein
          #spieler_div
            .form-group
              %input#IEmail1.form-control{:placeholder => "Email", :type => "email"}
              %input#IPassword1.form-control{:placeholder => "Password", :type => "password"}
              %input#IRegi1.form-control{:placeholder => "Region/PLZ", :type => "text"}
              %input#IGebus1.form-control{:placeholder => "Geburstdatum", :type => "text"}
              %select.form-control
                %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Geschlecht
                %option{:value => "man"} M&auml;nnlich
                %option{:value => "woman"} Weiblich
              %select.form-control
                %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Aktuelle Liga
                %option{:value => "tow"} Ebene1
                %option{:value => "def"} Ebene2
                %option{:value => "mit"} Ebene3
                %option{:value => "off"} Ebene4
              %select.form-control
                %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Gew&uuml;nschte Spielklasse
                %option{:value => "tow"} Ebene1
                %option{:value => "def"} Ebene2
                %option{:value => "mit"} Ebene3
                %option{:value => "off"} Ebene4
              %select.form-control
                %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Position
                %option{:value => "tow"} Towart
                %option{:value => "def"} Defensive
                %option{:value => "mit"} Mittelfeld
                %option{:value => "off"} Offensive
            %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} Anmelden
            %button.links{ "data-dismiss" => "modal","data-target" => "#login_m", "data-toggle" => "modal", :type => "button"}Bereits registriert?
          #verein_div
            %select.form-control
              %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Vereinsname
              %option{:value => "tow"} Ebene1
              %option{:value => "def"} Ebene2
              %option{:value => "mit"} Ebene3
              %option{:value => "off"} Ebene4
            %br
            %p
              W&auml;hlen Sie Ihren Verein aus der Liste aus. Im Anschluss senden wir die Login Daten an die vom Verein hinterlegte E-Mail Adresse.Bitte kontaktieren Sie dazu den Vereinsverantwortlichen
            %br 
            %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} Anmelden
            %button.links{ "data-dismiss" => "modal","data-target" => "#login_m", "data-toggle" => "modal", :type => "button"}Bereits registriert?
            %button.links{ "data-dismiss" => "modal","data-target" => "#probl_m", "data-toggle" => "modal", :type => "button"}Probleme bei der Anmeldung?
#login_m.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Login
      .modal-body
        %form
          .form-group
            %input#Email1.form-control{:placeholder => "Email", :type => "email"}
            %input#Password1.form-control{:placeholder => "Password", :type => "password"}
          .checkbox{:style => "text-align: left;"}
            %label
              %input{:type => "checkbox"}
                Angemeldet bleiben
          %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} Login
          %button.links{ "data-dismiss" => "modal","data-target" => "#log_ver_m", "data-toggle" => "modal", :type => "button"}Login-Daten vergessen?
#probl_m.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Probleme bei der Anmeldung?
      .modal-body
        %p{:style => "text-align:justify"}
          Wenn Sie keinen Zugriff auf die vom Verein hinterlegte E-Mail Adresse haben, kontaktieren Sie uns bitte unter 
        %b
        %p#tel_email T.: 030-37588468 
        %p#tel_email E.: support@soccertransfair.com
        %p#just
          Ihr Verein ist nicht in der Liste? Tragen Sie folgende Daten ein und wir benachrichtigen Sie sobald Ihr Verein in unsere Datenbank aufgenommen wurde.
        %form
          .form-group
            %input#Email1.form-control{:placeholder => "Email", :type => "email"}
            %input#kontper1.form-control{:placeholder => "Kontaktperson", :type => "text"}
            %input#vername1.form-control{:placeholder => "Vereinsname", :type => "text"}
            %input#homep.form-control{:placeholder => "Homepage", :type => "url"}
          %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} Senden
#log_ver_m.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Login-Daten vergessen
      .modal-body
        %form
          .form-group
            %input#Email1.form-control{:placeholder => "Email", :type => "email"}
          %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} Senden