#wrapp  
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/pages/soc", :rel => "home", :title => "Soccertransfair"}
          %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;", }
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/pages/soc"} Home
          %li
            %a{:href => "/pages/sp_res"} Suche  Spieler
          %li
            %a{:href => "/pages/ver_res"} Suche Verein
          %li#log
            %a{:href => "/pages/inbox"} Nachrichten
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Profil
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "/pages/profil_ver"} Profil bearbeiten
              %li
                %a{:href => "/pages/passwort"} Kontoeinstellungen
              %li
                %a{:href => "/pages/match"} Matchings
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Logout
  .container-fluid
    .row#main_row
      .col-md-12
        %h1.name_page Profil
  .container-fluid#messa
    .row
      .col-md-2.col-md-offset-1.col-sm-4
        %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,h_656,w_656/v1461938870/ver_image_nemmey.png", :style => "max-width:210px"}
      .col-md-2.hidden-xs.hidden-sm
        %a{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Videos, Bilder und der sportliche Lebenslauf können nur nach erfolgreichem Matching vom jeweiligem Verein eingesehen werden.", :rel => "tooltip", :href => "#"}
          %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1462526860/question_zo2rqm.png", :style => "max-width:20px", }
      .col-md-3
        .form-group
          %input#Email1.form-control{:placeholder => "Vereinsname", :type => "text"}
          %input#Password1.form-control{:placeholder => "PLZ", :type => "text"}
          %input#Email1.form-control{:placeholder => "Ort", :type => "text"}
          %input#Password1.form-control{:placeholder => "Adresse", :type => "text"}
          %select.form-control
            %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Liga 1.Team
            %option{:value => "tow"} Ebene1
            %option{:value => "def"} Ebene2
            %option{:value => "mit"} Ebene3
            %option{:value => "off"} Ebene4
      .col-md-3
        %input#Email1.form-control{:placeholder => "Kontaktperson Herren", :type => "text"}
        %input#Password1.form-control{:placeholder => "Kontaktperson Jugend", :type => "text"}
        %input#Email1.form-control{:placeholder => "E-Mail", :type => "email"}
        %input#Password1.form-control{:placeholder => "Telefon", :type => "text"}
        %input#Password1.form-control{:placeholder => "Website", :type => "url"}
    .row
      .col-md-3.col-md-offset-5
        .checkbox{:style => "text-align: left;"}
          %label
            %input{:type => "checkbox"}
              Ich akzeptiere die AGBs
      .col-md-3
        %a.btn.btn-primary.btn-lg.btn-block{:href => "#"}Speichern
    .row{:style => "margin-top:10px"}
      .col-md-10.col-md-offset-1
        %textarea.form-control{:rows => "8", :placeholder => "Beschreibung"}
  .container-fluid
    .row
      .col-md-10.col-md-offset-1
        #no-more-tables
          %table.table.table-striped.table-bordered{:style => "font-size: 15pt;"}
            %tr
              %td.col-md-4
                Bundesliga
              %td.col-md-6 
                Mannschaft
              %td.col-md-2#anf
                %a.btn.btn-primary.btn-lg.btn-block{:href => "#"}L&ouml;schen
            %tr
              %td
                Bundesliga
              %td 
                Mannschaft
              %td#anf
                %a.btn.btn-primary.btn-lg.btn-block{:href => "#"}L&ouml;schen
            %tr
              %td
                Bundesliga
              %td 
                Mannschaft
              %td#anf
                %a.btn.btn-primary.btn-lg.btn-block{:href => "#"}L&ouml;schen
  .container-fluid
    .row
      .col-md-3.col-md-offset-8
        %a.btn.btn-primary.btn-lg.btn-block{"data-target" => "#teams", "data-toggle" => "modal",  :style => "margin:9px 3px;"} Mannschaft hinzuf&uuml;gen
  .container-fluid#footer
    %a.navbar-brand{:href => "#", :rel => "home", :title => "Soccertransfair"}
      %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;"}
    .row
      .col-md-2.col-md-offset-8.col-xs-12
        = link_to 'Impressum', impressum_url , class: "main_link"
        = link_to 'Datenschutzerklärung', daten_url, class: "main_link"
#teams.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %strong#myModalLabel.modal-title  Mannschaft hinzuf&uuml;gen
      .modal-body
        %form
          .form-group
            %select.form-control
              %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Liga
              %option{:value => "liga"} Bla
              %option{:value => "liga"} Bla
            %select.form-control
              %option{:disabled => "", :hidden => "", :selected => "", :value => ""} Mannschaft
              %option{:value => "team"} Bla
              %option{:value => "team"} Bla

            %button.btn.btn-primary.btn-lg.btn-block{:type => "submit", :style => "margin-top:3px;"} Speichern
