.nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/pages/soc", :rel => "home", :title => "Soccertransfair"}
        %img{:src => "http://res.cloudinary.com/dr68ladtn/image/upload/v1461068655/logo_lwgrxf.png", :style => "max-width:150px; margin-top: -7px;", }
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "/pages/soc"} Home
        %li
          %a{:href => "/pages/sp_res"} Suche  Spieler
        %li
          %a{:href => "/pages/ver_res"} Suche Verein
        %li.active
          %a{:href => "/pages/inbox"} Nachrichten
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Profil
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "/pages/ver_pr"} Profil bearbeiten
            %li
              %a{:href => "/pages/passwort"} Kontoeinstellungen
            %li
              %a{:href => "/pages/match"} Matchings
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Logout
#wrapp  
  .container-fluid
    .row#main_row
      .col-md-12
        %h1.name_page Vertragsbedingungen