#wrapper{
  display: none;
}

#wrapper2{
  display: none;
  margin-top: 2%;
}


#wrapper3{
  display: none;
}

#wrapper4{
  display: none;
}

#passw{
  text-align: center;
  border: 1px solid #034B6F;
  height: auto;
  width:25%;
  margin: auto;
  margin-top: 2%;
  padding:5px;
  display: none;
  -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     box-sizing:border-box;
  vertical-align: middle;
  z-index: 2;
  position: relative;
}

#passw2{
  text-align: center;
  border: 1px solid #034B6F;
  height: auto;
  width:25%;
  margin: auto;
  margin-top: 2%;
  padding:5px;
  display: block;
  -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     box-sizing:border-box;
  vertical-align: middle;

}

.text_input {
  width:80%;
  height:33px;;
  border:1px solid #959695;  
  font-family: 'Lato', sans-serif;
  font-size:18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-appearance:textfield;  
  vertical-align: middle;
  margin:0 auto;
  padding-left:5px; 
  margin-bottom: 2px;
  margin-top: 2px;

}



.main_but2 {
  font-family: 'Lato', sans-serif;
  text-align:center;
  line-height: 33px ;
  border:1px solid #034B6F;
  background-color: white;  
  color: #034B6F;
  margin:0 auto;
  font-size: 14pt;
  width: 80%;
  text-decoration:none;
  font-size: 14pt;
  margin-top: 2px;
  text-decoration:none;
  padding-left: 2.5px;
  padding-right: 2.5px;

}

.main_but2:hover {
  font-family: 'Lato', sans-serif;
  text-align:center;
  display: inline-block;
  line-height: 33px ;
  border:1px solid #034B6F;
  background-color: #034B6F;  
  color: white ;
  text-decoration:none;
  font-size: 14pt;
  margin-top: 2px;
  text-decoration:none;
  cursor: pointer;
}

strong{
  font-family: Montserrat;
  font-size: 15pt;
  color: #034B6F;
  font-weight: normal;
  
}



#prob_form{
  text-align: center;
  border: 1px solid #034B6F;
  height: auto;
  width:25%;
  margin: auto;
  margin-top: 2%;
  padding:5px;
  background: white;
    margin: auto;
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size:12pt;
  color:black;
    z-index: 2;
  position: relative;
}




#login_form{
  text-align: center;
  border: 1px solid #034B6F;
  height: auto;
  width:25%;
  margin: auto;
  margin-top: 2%;
  padding:5px;
  background: white;
    margin: auto;
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size:13pt;
  color:black;
  margin-top: 13%;
    z-index: 2;
  position: relative;
}

#checki{
  text-align: justify;
  margin-bottom: 15px;
  margin-top: 15px;
}



#log_ver_form{
  text-align: center;
  border: 1px solid #034B6F;
  height: auto;
  width:25%;
  margin: auto;
  margin-top: 2%;
  padding:5px;
  background: white;
  padding: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
    margin: auto;
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size:13pt;
  color:black;
  margin-top: 13%;
    position: relative;
}

.anme{
    background: white;
    height: 33px ;
    border:1px solid #959695;  
    font-family: 'Lato', sans-serif;
    font-size:18px;
    color: #848789;
    background: url('http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/arrow_rhn3ww.png') no-repeat right ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align:top;
    padding-right: 4%;
    padding-left: 2px;
    width: 77%;
    margin-bottom: 2px;
    margin-top: 2px;
    -ms-box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box; 
box-sizing:content-box;
}

#verein_div{
  color:black;
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  display: none;
}