@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Lato:300);

@import url(https://fonts.googleapis.com/css?family=Karla);

html{color:#000;background:#FFF}body,dl,dt,dd,h4,h5,h6,pre,code,form,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{*font-size:100%}legend{color:#000}

body {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
}
#footer {
  width: 100%;
  height: 80px;
  background-color: #E4E5E5;
}

#footer2 {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: #E4E5E5;

}



.carousel {
  margin-bottom: 0;
  padding: 0 60px 0 60px;
}

.carousel-control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -40px;
  font-size: 60px;
  font-weight: 100;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
}
.carousel-control.right {
  left: auto;
}

.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

.carousel-indicators li {
  background: #c0c0c0;
}

.carousel-indicators .active {
  background: #333333;
}


.image-upload > input
{
  display: none;
}

.image-upload img
{
  max-width: 100%;
  cursor: pointer;
}
/**  landing page **/

#main {
  background: url('http://s23.postimg.org/u2bf225rv/back2.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 30% 29%;
  background-attachment: fixed;
  background-size: cover;
  width: 100% !important;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-family: 'Lato', sans-serif;
}

input::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

#linki {
  position: absolute;
  margin: 1.5%;
  bottom: 0;
  right: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.link {
  &:link {
    color: white;
    text-decoration: none;
  }
  &:visited {
    color: #FFFFFF;
    text-decoration: none;
  }
  &:hover {
    color: #CCCCCC;
  }
  &:active {
    color: #333333;
    text-decoration: none;
  }
}

.subutton {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding-left: 1%;
  padding-right: 1%;
  line-height: 2em;
  border: 2px solid #959695;
  color: white;
  background-color: transparent;
  outline: none;
  display: inline-block;
  margin: auto;
  position: absolute;
  cursor: pointer;
  vertical-align: bottom;
  &:hover {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-left: 1%;
    padding-right: 1%;
    line-height: 2em;
    border: 2px solid #959695;
    background-color: #034B6F;
    color: white;
    margin: auto;
    text-align: center;
    cursor: pointer;
  }
}

.emaiil {
  width: 30%;
  line-height: 2em;
  border: 2px solid #959695;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  vertical-align: bottom;
  border-right: none;
  padding-left: 10px;
}

#bald {
  margin-top: 13%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: white;
  padding-bottom: 2%;
}

#trag {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 2%;
}

#field {
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.field_with_errors {
  display: inline;
  text-align: center;
  width: 90%;
}

#error_explanation {
  color: white;
  display: block;
  font-family: 'Lato', sans-serif;
  display: block;
  border: 1px solid red;
  font-size: 15pt;
  padding: 4px;
  position: relative;
  top: 50px;
  width: 36%;
  margin-left: auto;
  margin-right: auto;
  ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: .3%;
  }
}

#h2suc {
  font-family: 'Lato', sans-serif;
  font-size: 20pt;
  color: white;
  text-align: center;
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 20%;
}


/**  main page **/
#bod {
  width: 100% !important;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('http://res.cloudinary.com/dr68ladtn/image/upload/q_100/v1461068656/back1_bm1ixc.png') no-repeat 50% 10% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

#back {
  background: url('http://res.cloudinary.com/dr68ladtn/image/upload/v1461854288/back1_vdwpjk.png') 50% 10% no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  height: 100%;
}



.main_but {
  font-family: 'Lato', sans-serif;
  text-align: center;
  line-height: 33px;
  border: 1px solid #034B6F;
  background-color: white;
  color: #034B6F;
  text-decoration: none;
  margin-right: 1%;
  display: inline-block;
  font-size: 14pt;
  padding-left: 3%;
  padding-right: 3%;
  &:hover {
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: inline-block;
    line-height: 33px;
    border: 1px solid #034B6F;
    background-color: #034B6F;
    color: white;
    text-decoration: none !important;
    margin-right: 1%;
    font-size: 14pt;
  }
}


select, input {
  border: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 0;

}


#sel{
  padding: 3px 0 3px 0;
  margin: 0;
}
select.form-control {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background: url('http://res.cloudinary.com/dr68ladtn/image/upload/c_scale,w_35/v1461839396/small_ar_eradwl.png') #fff;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

#head {
  margin-bottom: 1%;
  margin-top: 1%;
}
#sear{
  margin-top: 17%;
  padding-left:0;
  padding-right:0;
}


#drop_down{
  width:100%;
}

#such{
  margin-top:3px;
}

#mob_fun{
  margin-top:16%;
}

#second{
  text-align:center;
}

#testimon{
  text-align:center;
  background: #E4E5E5;
}

#main_img{
  border:3px solid #034B6F;
  padding:5px;
}

#tel_email{
  text-align:left;
  font-weight:bold;
}
#anfragen{
  background:white;
  margin-top:5px;
  margin-bottom:25px;
  border: 1px solid black;
  padding:5px 5px;
}

#main_row{
  background:#034B6F;
  padding-bottom:10px;
}
#zuruck{
  text-align:center;
  margin-top:10px;
}

#just{
  text-align:justify;
}

#messa{
  margin-top:2%;
  margin-bottom:20px;
}

#inb{
  padding: 0;
}

#red_head{
  background:#B22024;
  color:white;
}

#button_save{
  margin:9px 3px;
}

#forma_des{
  border:1px solid #EBEBEB;
}

.well{
  background: white;
  border:0;
  border-radius:0;
}

#zag_skills{
  background:#DFDEDE;
}

#margin{
  margin-top:10px;
}

#final_descr{
  border:1px solid black;
  font-size:14pt;
  background:white;
  padding:5px;
}


#results{
  background:white;
  text-align:center;
  padding-bottom:5px;
  padding-top:5px;
  margin-bottom:10px;
}


#suchen_b{
  margin-top:3px;
  padding-left:4px;
}

.left_lab{
  font-size:13pt;
  text-align:left !important;
}

#match{
  text-align:center;
}

.content {
  position: absolute;
  background: white;
  left: 0;
  right: 0;
  padding: .8%;
  border: 1px solid #ccc;
}

[type=radio]:checked ~ label {
  background: white;
  border: none;
  z-index: 2;
  ~ .content {
    z-index: 1;
  }
}


#funk {
  font-family: Montserrat;
  color: #034B6F;
  font-size: 3.2em;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 5%;
}


#namee {
  font-family: Montserrat;
  color: black;
  font-size: 22px;
  text-align: center;
}




#links {
  padding-top: 2%;

}

.main_link {
  text-decoration: none;
  color: #034B6F;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  &:hover {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
  }
}


@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    #text_icons{
      font-size: 20pt !important;
      padding-bottom: 10% !important;

    }

    #name_icons{
      font-size: 22pt !important;
    }

    #mob_fun{
      margin-top: 2% !important;
    }

    #ico{
       padding-top: 10% !important;
    }
#tabi{
  font-size: 13pt;
    padding-left: 0;
}

#match_monat {
  background: white;
  text-align: center;
  width: 100%;
  left: 0px;
  display: block;
  padding-top: 2%;
  min-height: 100%;
}

}

@media only screen and (max-width: 800px) {
        /* Force table to not be like tables anymore */
        #no-more-tables table,
        #no-more-tables thead,
        #no-more-tables tbody,
        #no-more-tables th,
        #no-more-tables #anf,
        #no-more-tables tr {
        display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        }


        #no-more-tables #anf {
        /* Behave like a "row" */
        border: none;
        border: 1px solid #eee;
        position: relative;
        white-space: normal;
        text-align:left;
        }

        #no-more-tables #anf:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
        }

        .table-bordered > tbody > tr > td{
          border:none;
        }

        .table > tbody > tr > td{
          border:none;
        }
        /*
        Label the data
        */
        #no-more-tables #anf:before { content: attr(data-title); }
        }


#name_icons{
  margin-bottom:2%;
  font-family: Montserrat;
  font-size: 22px;
}

#text_icons{
  font-family: Karla;
  font-size: 18px;
  color:#034B6F;
}

#test_h1 {
  font-family: Montserrat;
  color: #B01F23;
  font-size: 3.2em;
  display: inline-block;
  text-decoration: none;
}


strong {
  font-family: Montserrat;
  font-size: 15pt;
  color: #034B6F;
  font-weight: normal;
}
#probl_m {
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  color: black;

}
#login_form {
  text-align: center;
  border: 1px solid #034B6F;
  height: auto;
  width: 25%;
  margin-top: 2%;
  padding: 5px;
  background: white;
  margin: auto;
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 13pt;
  color: black;
  margin-top: 13%;
  z-index: 2;
  position: relative;
}
#checki {
  text-align: justify;
  margin-bottom: 15px;
  margin-top: 15px;
}
#log_ver_form {
  text-align: center;
  border: 1px solid #034B6F;
  height: auto;
  width: 25%;
  margin: auto;
  margin-top: 2%;
  padding: 5px;
  background: white;
  padding: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 13pt;
  color: black;
  margin-top: 13%;
  position: relative;
}
.anme {
  background: white;
  height: 33px;
  border: 1px solid #959695;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #848789;
  background: url('http://res.cloudinary.com/dr68ladtn/image/upload/v1461068654/arrow_rhn3ww.png') no-repeat right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: top;
  padding-right: 4%;
  padding-left: 2px;
  width: 77%;
  margin-bottom: 2px;
  margin-top: 2px;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#verein_div {
  color: black;
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  display: none;
}

.form-control{
  border-radius: 0;
  height: 25px;
  margin-top: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding:6px 0 6px 0;
}


.btn-default{
  border-radius: 0;
  font-family: 'Lato', sans-serif;
  border: 1px solid #034B6F;
  background-color: white;
  color: #034B6F;
  font-size: 14pt;
  vertical-align: bottom;
  line-height: 25px;
  &:hover {
    font-family: 'Lato', sans-serif;
    border: 1px solid #034B6F;
    background-color: #034B6F;
    color: white;
    font-size: 14pt;
  }
}

#but_funkt{
  background:transparent;
  position:absolute;
  &:hover {
    border: 1px solid #034B6F;
    background-color: #034B6F;
    color: white;
  }
}


#pagin{
  text-align: center;

}

.form-group{
  font-family: 'Lato', sans-serif;
}

.form-control::-moz-placeholder{
  color: black;
}
.btn-lg {
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 0;
  color: #034B6F;
  background: white;
  &:hover {
    background:#034B6F;
    color: white;
  }
}

.abbre{
  color: #B22024;
  background: white;
  border: 1px solid #B22024;
  &:hover{
    background:#B22024;
    color: white;
    border: 1px solid #B22024;
  }
}

.nav-tabs > li > a{
  background: #eee;
}

.navbar-default .navbar-nav > li > a {
  color:#034B6F;
  background: white;
  &:hover{
    color:white;
    background: #034B6F;
    cursor: pointer;
  }
  &:focus{
    color:white;
    background: #034B6F;
  }
}
.navbar.navbar-default.navbar-fixed-top{
  background: white;
  border:0;
}

.navbar-default .navbar-nav > .active > a {
  color:#034B6F;
  background: white;
}

.tab-content{
  background-color:white;
  color:black;
  padding:5px;
}

.nav-tabs > li > a{
  color: #034B6F;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background: #034B6F;
  color: white;
}

#impr {
  position: relative;
}

#wrapp  {
  background: #EEEEEE; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#EEEEEE 30%,  white 70%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#EEEEEE 30%,  white 70%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#EEEEEE 30%,  white 70%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#EEEEEE 30%,  white 70%); /* Standard syntax (must be last) */
  width: 100%;
  position: absolute;
  display: block;
  min-height: 100%;
}




#leftone {
  float: left;
  width: 50%;
  padding-left:25px;
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  color: black;
  line-height: 22px;
  position: relative;
  display: block;
}

.links {
  color: black;
  font-size: 12pt;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  background:none!important;
  border:none;
  &:visited {
    color: #66b3ff;
    font-size: 12pt;
  }
  &:hover {
    color: #004080;
    text-decoration: underline;
    font-size: 12pt;
  }
  &:active {
    color: black;
    font-size: 12pt;
  }
  &:visited {
    color: #66b3ff;
    font-size: 12pt;
  }
}



h1.name_page{
  font-size: 20pt;
  font-family: Montserrat;
  color: white;
  text-align: left;

}

#zag{
  font-family: 'Lato', sans-serif;
  font-size: 16pt;
  text-align: center;
  margin-bottom:10px;
}


.tab_ro{
  &:hover{
    background: black;
  }
}
#dat {
  margin: auto;
  width: 95%;
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  color: black;
  text-align: justify;
  line-height: 22px;
}

#h1i {
  font-size: 25pt;
  font-family: Montserrat;
  color: white;
  text-align: left;
  padding: 1.5%;
  margin-top: 0;
  padding-bottom: 0;
  position: relative;
  background: #034B6F;
  height: 5%;
  padding-bottom: 3%;
  color: white;
  right: 0;
  width: 100%;
  padding-left: 25px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  color: #034B6F;
  font-weight: bold;
}

.modal-content{
  text-align: center;
}


.skil_sel{
  height: 20px;
}


#name_red{
  font-size: 25pt;
  font-family: Montserrat;
  color:#B22024;
  margin-bottom:7%;
}


#tabl_head{
  font-size: 15pt;
  background:#B22024;
  color: white;

}


#tran {
  padding: 5px;
  border: 3px solid #B22024;
  border-radius: 100%;
}
